<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking </title>
		<link type="text/css" rel="stylesheet" href="assets/homepage.css.scss">
	</head>

	<body>


		<div id= "top">
			<h1><br>
				<form>
					<titleStyle>
						Rancho Rinconada Online Booking

						<newUserStyle>
							New to rinconada?
					<!-- 		<input id="login-button" type="submit" value=" CREATE AN ACCOUNT " >  -->
					<%= link_to "CREATE AN ACCOUNT", users_new_path %>
						</newUserStyle>

					</titleStyle>
				</form>
			</h1>
		</div>
		

		<div id= "rightColumn">
			<floatRight>
				<p><br>
					<form>
						<signupBox>
								Sign in
						</signupBox>

						<br><br>
						<font15px>
							Username
						</font15px>
						<br>
						<font15px>
							<input id="login-username" type="text" name="username" style="width:280px; height:25px; font-size:17px"><br>
						</font15px>
						<br>
						<font15px>
							Password
						</font15px>
						<br>
						<font15px>
		      				<input id="login-password" type="password" name="pwd" style="width:280px; height:25px; font-size:20px"><br>
		      			</font15px>
		      			<br>
		      			<font15px>
		      				<input id="login-account" type="submit" value=" Sign in " style="width:100px; height:30px;font-size:20px; background-color:rgb(67,81,104); border-color: rgb(67,81,104); color:white"> 
		      			</font15px>
					</form>
				</p>
			<floatRight>
		</div>

		<div id= "leftColumn">
			<floatLeft>
				<p><br>
					<leftBox>
						Future Pictures Go Here
						
					</leftBox>
				</p>
			</floatLeft>
		</div>

		<div id= "bottom">
			<f1>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<form>
					<footerStyle>
						© 2012 Copyright Rancho Rinconada Rec Center

					</footerStyle>
				</form>
			</f1>
		</div>


	</body>

</html>