<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking </title>
		<link type="text/css" rel="stylesheet" href="assets/homepage.css.scss">

		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/assets/jquery-ui.min.js"></script>

		<link href='/assets/fullcalendar/fullcalendar.css' rel='stylesheet' />
		<link href='/assets/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
		<script src='assets/jquery/jquery-1.9.1.min.js'></script>
		<script src='assets/jquery/jquery-ui-1.10.2.custom.min.js'></script>
		<script src='assets/fullcalendar/fullcalendar.min.js'></script>

		<script>

			$(document).ready(function() {
			
				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();
				
				$('#calendar').fullCalendar({
					header: {
						left: 'prev,next today',
						center: 'title',
						
					},
					editable: false,
					events: [
						{
							title: 'Session Type: A',
							start: new Date(y, m, 1),
							end: new Date(y, m, 5),
							url: 'http://google.com/'
						},
						{
							title: 'Session Type: B',
							start: new Date(y, m, d-5),
							end: new Date(y, m, d-2),
							url: 'http://google.com/'

						},
						{
							title: 'Session Type: C',
							start: new Date(y, m, d-5),
							end: new Date(y, m, d-2),
							url: 'http://google.com/'
							
						},
						{
							title: 'Session Type: A',
							start: new Date(y, m, 25),
							end: new Date(y, m, 29),
							url: 'http://google.com/'
						}
					]
				});
				
			});

		</script>

		<style>

			body {
				background-color: rgb(1,136,169);
				margin-top: -10px;
				text-align: center;
				font-size: 14px;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				}

			#calendar {
				width: 900px;
				margin: 0 auto;
				margin-top: -7px;
				background-color: white;
				border:  white thin solid;
				}

		</style>
		

	</head>

	<div class="container-fluid"><body2>


		<%= render 'navbar/homepage_navbar' %>


		<position-fixed-top>
			<div class="span3">

				<div class="alert alert-info">
				  <h5>To Make a Reservation:</h5>
				  Best check yo self, you're not...
				</div>

				<div id="ProgressBar" class="alert alert-info">
		  			<button type="button" class="close" data-dismiss="alert">&times;</button>
		  			<h5>Reservation Progress: </h5>
		  			Step One of Three ...
		  			<br><br><div class="progress progress-warning progress-striped active">
		  				<div class="bar" style="width: 40%;"></div>
					</div>
				</div>
				
				<div id="FilterSelection" class="alert alert-info">
			  		<h5>Show Only: </h5>
			  		Select the session types you are interested in ...
			  			
			  		<br><br><form class="form">
			  			
						<label class="checkbox">
						  	<input type="checkbox"> Type A
						</label>

						<label class="checkbox">
							<input type="checkbox"> Type B
						</label>

						<label class="checkbox">
							 <input type="checkbox"> Type C
						</label>
					</form>
				</div>

				
			</div>
		</position-fixed-top>

		<div class="span12 offset3">

			<div id="DateSelection" class="alert alert-info">

	  			<h3>Select Date: </h3><br>
	  			<div id="calendar"></div><br>
	  			
			</div>

		</div>

	

		<div class="navbar navbar-fixed-bottom navbar-inverse">
			<div class="navbar-inner">

		        	<div id="copyRights" class="pull-left">
		              	<ul class="nav">
		                  <li><a >© 2012 Copyright Rancho Rinconada Rec Center</a></li>
		              	</ul>
		        	</div>

		        	<div id="bringToTop" class="pull-right">
		              	<ul class="nav">
		                  <li><a href="#">Bring To Top</a></li>
		              	</ul>
		             </div>
		    </div>
  		</div>


	</body2></div>

		
		<script type="text/javascript">

			$('#top').hide()
   			$('#rightColumn').hide()
   			$('#leftColumn').hide()
   			$('#system-message').hide()
   			$('#bottom').hide()
   			$('#login-email').val("")
			$('#login-password').val("")
			$('#SignDropDown').hide()
			$('#CreateAccountButton').hide()
			$('#WelcomeDropDown').hide()
			$('ProgressBar').hide()
   
   			/* setup the page so that only one of the forms is shown */
			
			$(document).ready(function() {
			 	show_login_page()
			 });

			function show_login_page() {
				$('#top').show()
	   			$('#rightColumn').show()
	   			$('#leftColumn').show()
	   			$('#bottom').show()
	   			$('#SignDropDown').show()
				$('#CreateAccountButton').show()	
	   		}

			function handle_login_response(data) {
				$('font17px#err_message').empty();
				$('font17px#err_message').css('font-size','12px');
				$('font17px#err_message').css('color','red');
				$('font17px#err_message').append(getErrorMessage(data));
			}

			function getErrorMessage(data) {
			  switch (data.errCode){

			    case 108:
			    	return "Invalid Username and/or Password";
			      break;

			    //This is the case for success
			    default:
			    	if (data.admin == 0) {
			    		$('#SignDropDown').hide()
						$('#CreateAccountButton').hide()
						$('#WelcomeDropDown').show()
						$('#ProgressBar').display()
			    	} 
			    	else {
			    		window.location.href = "/admin";
			    	}   
			  }
			}


			$('#login-button').click(function() {
			   email = $('#login-email').val()
			   password = $('#login-password').val()
			   json_request("/Users/login", { email: email, password: password }, function(data) 
			   	{ return handle_login_response(data); }, function(err) { alert('error occurred on request'); });

			   return false;
			});

			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'POST',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });
}

		</script>
		
</html>