<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking </title>
		<link type="text/css" rel="stylesheet" href="assets/homepage.css.scss">

		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/assets/jquery-ui.min.js"></script>

		<link href='/assets/fullcalendar/fullcalendar.css' rel='stylesheet' />
		<link href='/assets/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
		<script src='assets/jquery/jquery-1.9.1.min.js'></script>
		<script src='assets/jquery/jquery-ui-1.10.2.custom.min.js'></script>
		<script src='assets/fullcalendar/fullcalendar.min.js'></script>

		<script>

			$(document).ready(function() {
			
				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();
				
				var calendar = $('#calendar').fullCalendar({
					header: {
						left: 'prev,next today',
						center: 'title',
					},
					selectable: true,
					selectHelper: true,
					select: function(start, end, allDay) {
						var title = prompt('Event Title:');
						if (title) {
							calendar.fullCalendar('renderEvent',
								{
									title: title,
									start: start,
									end: end,
									allDay: allDay
								},
								true // make the event "stick" 64.5
							);
						}
						calendar.fullCalendar('unselect');
					},
					editable: true,
					events: [
						{
							title: 'All Day Event',
							start: new Date(y, m, 1)
						},
						{
							title: 'Long Event',
							start: new Date(y, m, d-5),
							end: new Date(y, m, d-2)
						},
						{
							id: 999,
							title: 'Repeating Event',
							start: new Date(y, m, d-3, 16, 0),
							allDay: false
						},
						{
							id: 999,
							title: 'Repeating Event',
							start: new Date(y, m, d+4, 16, 0),
							allDay: false
						},
						{
							title: 'Meeting',
							start: new Date(y, m, d, 10, 30),
							allDay: false
						},
						{
							title: 'Lunch',
							start: new Date(y, m, d, 12, 0),
							end: new Date(y, m, d, 14, 0),
							allDay: false
						},
						{
							title: 'Birthday Party',
							start: new Date(y, m, d+1, 19, 0),
							end: new Date(y, m, d+1, 22, 30),
							allDay: false
						},
						{
							title: 'Click for Google',
							start: new Date(y, m, 28),
							end: new Date(y, m, 29),
							url: 'http://google.com/'
						}
					]
				});
				
			});

		</script>
		<style>

			body {
				margin-top: 40px;
				text-align: center;
				font-size: 14px;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				}

			#calendar {
				width: 900px;
				margin: 0 auto;
				}

		</style>
		

	</head>

	<div class="container"><body2>

		<div class="navbar navbar-inverse nav navbar-fixed-top">
		    <div class="navbar-inner">
		        <div class="container">
		            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </a>
		            <a class="brand"  href="/" >Rancho Rinconada</a>
		              <div class="pull-right">
		                <ul class="nav pull-right">
		                	<li class="divider-vertical"></li>
		                    
		                    <li id= "SignDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
		                        
		                        <ul class="dropdown-menu">

		                        	<form class="form-horizontal">
		                        		
		                        		<div class="span3">
		                        		<br>

		                        		<font17px>Username<font17px>

  										<input class="span2" type="email" required id="login-email"  placeholder="your@email.com" style="width:188px">
      								    <br><br>
      									
      									<font17px>Password<font17px>
      									<input class="span2" type="password" id="login-password" placeholder="Password" style="width:188px">
      									<br>

      									<font17px id="err_message"></font17px><br>

								      	<button id="login-button" type="submit" class="btn btn-primary">Sign in
								      	</button>
								      	<br><br>
								    		
								  		</div>
									</form>
		                        </ul>
		                    </li>

		                    <li id="WelcomeDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
		                        <ul class="dropdown-menu">
		                            <li><a href="/"><i class="icon-pencil"></i> Update Profile</a></li>
		                            <li><a href="/"><i class="icon-pencil"></i> Change Password</a></li>
		                            <li><a href="/"><i class="icon-list"></i> My Sessions</a></li>
		                            <li class="divider"></li>
		                            <li><a href="/"><i class="icon-off"></i> Logout</a></li>
		                        </ul>
		                    </li>



		                </ul>
		              </div>

		              <div id="CreateAccountButton" class="pull-right">
		              	<ul class="nav">
		                  <li class="divider-vertical"></li>
		                  <li><a href="/users/new"> Create an Account</a></li>
		              </ul>
		              </div>

		        </div>
		    </div>

		</div>
		
		<div id="calendar"></div>

		<div id="bottom">
			<f1>
				<br><br>
				<div class="container">
				<footerStyle>
					© 2012 Copyright Rancho Rinconada Rec Center
				</footerStyle>
				<div>
			</f1>
		</div>
	</body2></div>

		
		<script type="text/javascript">

			$('#top').hide()
   			$('#rightColumn').hide()
   			$('#leftColumn').hide()
   			$('#system-message').hide()
   			$('#bottom').hide()
   			$('#login-email').val("")
			$('#login-password').val("")
			$('#SignDropDown').hide()
			$('#CreateAccountButton').hide()
			$('#WelcomeDropDown').hide()
   
   			/* setup the page so that only one of the forms is shown */
			
			$(document).ready(function() {
			 	show_login_page()
			 });

			function show_login_page() {
				$('#top').show()
	   			$('#rightColumn').show()
	   			$('#leftColumn').show()
	   			$('#bottom').show()
	   			$('#SignDropDown').show()
				$('#CreateAccountButton').show()	
	   		}

			function handle_login_response(data) {
				$('font17px#err_message').empty();
				$('font17px#err_message').css('font-size','12px');
				$('font17px#err_message').css('color','red');
				$('font17px#err_message').append(getErrorMessage(data));
			}

			function getErrorMessage(data) {
			  switch (data.errCode){

			    case 108:
			    	return "Invalid Username and/or Password";
			      break;

			    //This is the case for success
			    default:
			    	if (data.admin == 0) {
			    		$('#SignDropDown').hide()
						$('#CreateAccountButton').hide()
						$('#WelcomeDropDown').show()
			    	} 
			    	else {
			    		window.location.href = "/admin";
			    	}   
			  }
			}


			$('#login-button').click(function() {
			   email = $('#login-email').val()
			   password = $('#login-password').val()
			   json_request("/Users/login", { email: email, password: password }, function(data) 
			   	{ return handle_login_response(data); }, function(err) { alert('error occurred on request'); });

			   return false;
			});

			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'POST',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });
}

		</script>
		
</html>