<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking </title>
		<link type="text/css" rel="stylesheet" href="assets/homepage.css.scss">

		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

		<script type="text/javascript">
		<!-->
		var image1=new Image()
		image1.src="/assets/rancho2.jpg"
		var image2=new Image()
		image2.src="/assets/rancho1.jpg"
		var image3=new Image()
		image3.src="/assets/rancho3.jpg"
		var image4=new Image()
		image4.src="/assets/rancho4.jpg"
		//-->
		</script>

	</head>

	<div class="container"><body>
		
		<div class="navbar navbar-inverse nav">
		    <div class="navbar-inner">
		        <div class="container">
		            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </a>
		            <a class="brand" href="/">Rancho Rinconada</a>
					
		          
		              <div class="pull-right">
		              	<ul class="nav">
		                  <li class="divider-vertical"></li>
		                  <li><a href="/users/new"><i class="icon-user icon-white"></i> Create an Account</a></li>
		              </ul>
		              </div>
		        </div>
		    </div>
		</div>

		<br><br>

		<div id="rightColumn">
			<br><floatRight>
				<form>
					<br><br>
						<signupBox>
								<class="form-signin-heading">Sign in
						</signupBox>

						<br><br>
						<font17px>
							E-mail
						</font17px>
						<br>

						<font17px>
							<input id="login-email" type="text" placeholder="your@email.com" name="email" style="width:280px; height:25px; font-size:17px">
							<br>
						</font17px>
						<br>
						<font17px>
							Password
						</font17px>
						<br>
						<font17px>
			     			<input id="login-password" type="password" name="pwd" style="width:280px; height:25px; font-size:20px"><br>
			      		</font17px>
			      		<br>
			      		<font17px>
			      			<button id="login-button" class="btn btn-large btn-primary" type="button">Sign In</button>
			      		</font17px>
				</form>
			<floatRight>
		</div>


		<div id="leftColumn">
			<floatLeft>
				<leftBox>
					<img src="/assets/rancho2.jpg" name="slide" class="img-rounded" width="553px" height="600px">
					
					<script type="text/javascript">
					<!-->
					var step=1

					function slideit(){
						document.images.slide.src=eval("image" + step + ".src")
						if (step<4)
							step++
						else 
							step=1
							setTimeout("slideit()",4500)

					}
					slideit()
					//-->
					</script>
				</leftBox>
			</floatLeft>
		</div>

		<div id="system-message" class="errbox">
		  <center>
			  <div id="credentials-message" class="errmessage"></div>
			    <form>

			      <input type="submit" id="ok-button" value="       OK       " onclick="close_error2();return false;">
			    
			    </form>
			</center>
		</div>

		<div id="bottom">
			<f1>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br>
				
				<footerStyle>
					© 2012 Copyright Rancho Rinconada Rec Center
				</footerStyle>
			</f1>
		</div>
	</body></div>

		
		<script type="text/javascript">

			$('#top').hide()
   			$('#rightColumn').hide()
   			$('#leftColumn').hide()
   			$('#system-message').hide()
   			$('#bottom').hide()
   			$('#login-email').val("")
			$('#login-password').val("")
   
   			/* setup the page so that only one of the forms is shown */
			
			$(document).ready(function() {
			 	show_login_page()
			 });

			function show_login_page() {
				$('#top').show()
	   			$('#rightColumn').show()
	   			$('#leftColumn').show()
	   			$('#bottom').show()
			}

			function show_system_message(message) {
			   	$('#system-message').show()
			   	$('#credentials-message').html(message);
			}

			function close_error2(){
				$('#system-message').hide()
				$('#login-password').val("")
			}

			function handle_login_response(data) {

			  switch (data.errCode){
			    case 108:
			      show_system_message("Cannot find the Username/Password<br> pair. Click OK to try again."); 
			      break
			    default:
			    	if (data.admin == 0) {
			    		window.location.href = "/Users/updateUsers";
			    	} 
			    	else {
			    		window.location.href = "admin";
			    	}   
			  }

			  return

			}


			$('#login-button').click(function() {
			   email = $('#login-email').val()
			   password = $('#login-password').val()
			   json_request("/Users/login", { email: email, password: password }, function(data) 
			   	{ return handle_login_response(data); }, function(err) { alert('error occurred on request'); });

			   return false;
			});

			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'POST',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });
}

		</script>

		
</html>