<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking </title>
		<link type="text/css" rel="stylesheet" href="assets/homepage.css.scss">

		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/assets/jquery-ui.min.js"></script>

		<link href='/assets/fullcalendar/fullcalendar.css' rel='stylesheet' />
		<link href='/assets/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
		<script src='assets/jquery/jquery-1.9.1.min.js'></script>
		<script src='assets/jquery/jquery-ui-1.10.2.custom.min.js'></script>
		<script src='assets/fullcalendar/fullcalendar.min.js'></script>

		<script>

			$(document).ready(function() {
				var date = new Date();
				var d = date.getDate();
				var m = date.getMonth();
				var y = date.getFullYear();

				var mockevents = [
					{
						title: 'Session-A',
						id:5,
						start: new Date(2013,3,1),
						end: new Date(2013,3,4),			
						className:'session-a',
						backgroundColor: 'Maroon'
					}
				];

				var usercalendar = new UserCalendar(mockevents);
				usercalendar.display();

			});

			function post_json_request2(page, dict, success) {
			  $.ajax({
				type: 'POST',
				url: page,
				data: JSON.stringify(dict),
				contentType: "application/json",
				dataType: "json",
				success: success
			  });
			  $('#simulate-sent-jsons').append(JSON.stringify(dict)+"<br />");
			}

			var UserCalendar = function(input_events) {
				//Instance Variable and Methods (ie input events dependant)
				this.events = input_events;

				this.calendarOptions = 	{
					header: UserCalendar.headerOptions,
					editable: true,
					events: input_events,
					eventClick: UserCalendar.clickEvent,
					dayClick: UserCalendar.clickDay
				};

				this.display = function() {
					$(UserCalendar.identifier).fullCalendar(this.calendarOptions);
				}
			}

			// Singleton Class per Page Static Methods
			UserCalendar.identifier = "#calendar";

			UserCalendar.headerOptions = {
				left: 'prev,next today',
									center: 'title',
			};

			UserCalendar.clickEvent = function(calEvent, jsEvent, view) {
				if(view.name=='agendaDay') {
					var dict_to_send = 
					{
						title: calEvent.title, 
						day:calEvent.day,
						start: calEvent.start,
						end: calEvent.end,
						teacher: calEvent.teacher
					};		
					post_json_request2('/some_url', 
						dict_to_send, function(){ alert('success'); });
					$(this.identifier).fullCalendar('changeView', 'month');
					return true;
				}
				UserCalendar.clickDay(calEvent.day, calEvent.allDay, jsEvent, view);
				return false;
			}

			UserCalendar.clickDay = function(date, allDay, jsEvent, view) {
				$(UserCalendar.identifier)
					.fullCalendar('changeView', 'agendaDay')
			       	.fullCalendar('gotoDate', date);
			  	return true;
			}
		</script>

		<style>

			body {
				background-color: rgb(1,136,169);
				margin-top: -10px;
				text-align: center;
				font-size: 14px;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				}

			#calendar {
				width: 886px;
				margin: 0 auto;
				margin-top: -7px;
				background-color: white;
				border:  white thin solid;
				}

		</style>
		

	</head>

	<body><div class="container" style="width:1265px">

		<body2>
			<div class="navbar navbar-inverse nav navbar-fixed-top">
			    <div class="navbar-inner">
			    	<div class="container" style="width:1265px">
			            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </a>
			            <a class="brand"  href="/" style="color:white; font-size:27px"> &nbsp &nbspRancho Rinconada</a>
			              <div class="pull-right">
			                <ul class="nav pull-right">
			                	<li class="divider-vertical"></li>
			                    
			                    <li id= "SignDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
			                        
			                        <ul class="dropdown-menu">

			                        	<form class="form-horizontal">
			                        		
			                        		<div class="span3">
			                        		<br>

			                        		<font17px>Username<font17px>

	  										<input class="span2" type="email" required id="login-email"  placeholder="your@email.com" style="width:188px">
	      								    <br><br>
	      									
	      									<font17px>Password<font17px>
	      									<input class="span2" type="password" id="login-password" placeholder="Password" style="width:188px">
	      									<br>

	      									<font17px id="err_message"></font17px><br>

									      	<button id="login-button" type="submit" class="btn btn-primary">Sign in
									      	</button>
									      	<br><br>
									    		
									  		</div>
										</form>
			                        </ul>
			                    </li>

			                    <li id="WelcomeDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, User <b class="caret"></b></a>
			                        <ul class="dropdown-menu">
			                            <li><a href="/Users/updateUsers"><i class="icon-pencil"></i> Update Profile</a></li>
			                            <li><a href="/"><i class="icon-pencil"></i> Change Password</a></li>
			                            <li><a href="/"><i class="icon-list"></i> My Sessions</a></li>
			                            <li class="divider"></li>
			                            <li><a href="/"><i class="icon-off"></i> Logout</a></li>
			                        </ul>
			                    </li>



			                </ul>
			              </div>

			              <div id="CreateAccountButton" class="pull-right">
			              	<ul class="nav">
			                  <li class="divider-vertical"></li>
			                  <li><a href="/users/new"> Create an Account</a></li>
			              </ul>
			              </div>
			        </div>
			    </div>
			</div>

		</body2>

		<div class="container-fluid"><body2>

			<div class="row-fluid">

				<div class="span3">

					<position-fixed-top>
						<div class="span10">
							
							<div id="FilterSelection" class="alert alert-info">
						  		<h5>Hide Only: </h5>
						  		Select the Section Types You Are<br> 
						  		Not Interested In ...
						  			
						  		<br><br><form class="form">
						  			
									<label id="show-A" class="checkbox">
									  	<input type="checkbox"> Type A
									</label>

									<label id="show-B" class="checkbox">
										<input type="checkbox"> Type B
									</label>

									<label id="show-C" class="checkbox">
										 <input type="checkbox"> Type C
									</label>
								</form>
							</div>

							<div class="alert alert-info">
							  <h5>To Make a Reservation:</h5>
							  Step One:<br> Select a Day and a Section Type<br>
							  from the Calendar by Clicking<br> 
							  Over the Rounded-edged Squares. <br><br>

							  Step Two:<br> Select the Time and a Lesson<br> Type
							  in the Pop-up Window by<br> Clicking
							  over the Rounded-edge Squares.<br><br>

							  Empty Days and Times Cannot<br> 
							  be Reserved.<br> 

							</div>
						</div>
					</position-fix-top>
				</div>
			

				<div class="span9">

					<div id="DateSelection" class="alert alert-info">

			  			<h3>Select a Day and Section Type: </h3><br>
			  			<div id="calendar"></div><br>
			  			
					</div>

				</div>

			</div>
		</body2></div>

		<div class="navbar navbar-fixed-bottom navbar-inverse">
				<div class="navbar-inner">
					<div class="container" style="width:1265px">
			        	<div id="copyRights" class="pull-left">
			              	<ul class="nav">
			                  <li><a style="color:gray; font-size:15px">© 2012 Copyright Rancho Rinconada Rec Center</a></li>
			              	</ul>
			        	</div>

			        	<div id="bringToTop" class="pull-right">
			              	<ul class="nav">
			                  <li><a href="#">Bring To Top</a></li>
			              	</ul>
			             </div>
			    	</div>
			    </div>
	  	</div>
  	</div><body>

		
		<script type="text/javascript">

	
   			$('#login-email').val("")
			$('#login-password').val("")
			$('#SignDropDown').hide()
			$('#CreateAccountButton').hide()
			$('#WelcomeDropDown').hide()
   
   			/* setup the page so that only one of the forms is shown */
			
			$(document).ready(function() {
			 	show_login_page()
			 });

			function show_login_page() {
	   			$('#SignDropDown').show()
				$('#CreateAccountButton').show()	
	   		}

			function handle_login_response(data) {
				$('font17px#err_message').empty();
				$('font17px#err_message').css('font-size','12px');
				$('font17px#err_message').css('color','red');
				$('font17px#err_message').append(getErrorMessage(data));
			}

			function getErrorMessage(data) {
			  switch (data.errCode){

			    case 108:
			    	return "Invalid Username and/or Password";
			      break;

			    //This is the case for success
			    default:
			    	if (data.type != "Admin") {
			    		$('#SignDropDown').hide()
						$('#CreateAccountButton').hide()
						$('#WelcomeDropDown').show()
						$('#ProgressBar').display()
			    	} 
			    	else {
			    		window.location.href = "/admin";
			    	}   
			  }
			}


			$('#login-button').click(function() {
			   email = $('#login-email').val()
			   password = $('#login-password').val()
			   json_request("/Users/login", { email: email, password: password }, function(data) 
			   	{ return handle_login_response(data); }, function(err) { alert('error occurred on request'); });

			   return false;
			});

			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'POST',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });}

		    $("#show-A").click( function() {
				$('.Section-A').toggle();
			});

			$("#show-B").click( function() {
				$('.Section-B').toggle();
			});

			$("#show-C").click( function() {
				$('.Section-C').toggle();
			});

		</script>
		
</html>