<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking </title>
		<link type="text/css" rel="stylesheet" href="assets/homepage.css.scss">

		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/assets/jquery-ui.min.js"></script>

	</head>

	<div class="container"><body>

		<div class="navbar navbar-inverse nav" >
		    <div class="navbar-inner">
		        <div class="container">
		            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </a>
		            <a class="brand"  href="/" >Rancho Rinconada</a>
		              <div class="pull-right">
		                <ul class="nav pull-right">
		                	<li class="divider-vertical"></li>
		                    
		                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign In <b class="caret"></b></a>
		                        
		                        <ul class="dropdown-menu">

		                        	<form class="form-horizontal">
		                        		
		                        		<div class="span3">
		                        		<br>

		                        		<font17px>Username<font17px>

  										<input class="span2" type="email" required id="login-email"  placeholder="your@email.com" style="width:188px">
      								    <br><br>
      									
      									<font17px>Password<font17px>
      									<input class="span2" type="password" id="login-password" placeholder="Password" style="width:188px">
      									<br>

      									<font17px id="err_message"></font17px><br>
  
								      	<button id="login-button" type="submit" class="btn btn-primary">Sign in</button> 
								      	<br><br>
								    		
								  	</div>
									</form>
		                        </ul>
		                    </li>
		                </ul>
		              </div>

		              <div class="pull-right">
		              	<ul class="nav">
		                  <li class="divider-vertical"></li>
		                  <li><a href="/users/new"> Create an Account</a></li>
		              </ul>
		              </div>

		        </div>
		    </div>

		</div>

		<font17px>
			Team, you can still sing in using the menu in the nav bar. 
		</font17px>


		

		<div id="bottom">
			<f1>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br>
				
				<footerStyle>
					© 2012 Copyright Rancho Rinconada Rec Center
				</footerStyle>
			</f1>
		</div>
	</body></div>

		
		<script type="text/javascript">

			$('#top').hide()
   			$('#rightColumn').hide()
   			$('#leftColumn').hide()
   			$('#system-message').hide()
   			$('#bottom').hide()
   			$('#login-email').val("")
			$('#login-password').val("")
   
   			/* setup the page so that only one of the forms is shown */
			
			$(document).ready(function() {
			 	show_login_page()
			 });

			function show_login_page() {
				$('#top').show()
	   			$('#rightColumn').show()
	   			$('#leftColumn').show()
	   			$('#bottom').show()
			}

			function handle_login_response(data) {
				$('font17px#err_message').empty();
				$('font17px#err_message').css('font-size','12px');
				$('font17px#err_message').css('color','red');
				$('font17px#err_message').append(getErrorMessage(data));
			}

			function getErrorMessage(data) {
			  switch (data.errCode){

			    case 108:
			    	return "Invalid Username and/or Password";
			      break;

			    //This is the case for success
			    default:
			    	if (data.admin == 0) {
			    		window.location.href = "reservation";
			    	} 
			    	else {
			    		window.location.href = "/admin";
			    	}   
			  }
			}


			$('#login-button').click(function() {
			   email = $('#login-email').val()
			   password = $('#login-password').val()
			   json_request("/Users/login", { email: email, password: password }, function(data) 
			   	{ return handle_login_response(data); }, function(err) { alert('error occurred on request'); });

			   return false;
			});

			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'POST',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });
}

		</script>

		
</html>