<div class="navbar navbar-fixed-bottom navbar-inverse">
	<div class="navbar-inner">
  	<div id="copyRights" class="pull-left">
        	<ul class="nav">
            <li><a style="color:gray; font-size:15px">© 2012 Copyright Rancho Rinconada Rec Center</a></li>
        	</ul>
  	</div>

  	<div id="bringToTop" class="pull-right">
        	<ul class="nav">
            <li><a href="#">Bring To Top</a></li>
        	</ul>
    </div>
  </div>
</div>