<style type="text/css">
#update-password-1 {
	width:400px;
	margin-left: -200px;
}
</style>
<div class="modal hide" id="update-password-1" role="dialog" tabindex="-1">
	<center>
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Update Password</h3>
	</div>
	<div class="modal-body">
		<!-- Changing password -->
		<!-- <form id='update-password-form'>   -->
		<form class="form-horizontal">
		  	<label for="password-old">Current Password</label>
			<input type="password" name="password-old" id="password-old"><br>

			<label for="password-new">New Password</label>
			<input type="password" name="password" id="password-new"><br>

			<label for="password-new-confirm">Re-type Password</label>
			<input type="password" name="password-new-confirmation" id="password-new-confirmation"><br><br>
		</form>
	</div>
	<div class="modal-footer">
		<a class="btn btn-small btn-primary" type="button" id="submit-password-update">Change Password</a>
		<a  class="btn" href="#" data-dismiss="modal">Close</a>
	</div>
</center>
</div>
