 <!-- Section Template -->
<div class="accordion-group" id="section-template">
    <div class="accordion-heading center">
      <a class="accordion-toggle section-name" data-toggle="collapse" data-parent="#show-enrolled-sections">
      <span class='section-dow'></span></a>
      <!-- <span class='.teacher'>Summer 2012</span> -->
    </div><!-- accordion-heading -->
    <div class="accordion-body collapse section-body">
      <div class="accordion-inner">

        <div class="row-fluid">
          <div class="span3 offset3">Instructor: </div>
          <div class="span4"><span class='section-teacher'></span></div>
        </div> <!-- .teacher-row -->
        
        <div class="row-fluid">
          <div class="span3 offset3">Times: </div>
          <div class="span4"><span class='section-time'></span></div>
        </div> <!-- time range-row -->
        
        <div class="row-fluid">
          <div class="span3 offset3">Dates: </div>
          <div class="span4"><span class='section-dates'></span></div>
        </div> <!-- date range-row -->

        <div class="row-fluid">
          <div class="span3 offset3">Enrollment: </div>
          <div class="span4"><span class='section-enrolled'></span></div>
        </div> <!-- enrollment status-row -->

        <div class="row-fluid">
          <div class="span3 offset3">Waitlist: </div>
          <div class="span4"><span class='section-waitlisted'></span></div>
        </div> <!-- waitlist-row -->

        <div class="row-fluid">
          <div class="span3 offset3">Waitlist Position: </div>
          <div class="span4"><span class='section-waitlist_pos'></span></div>
        </div> <!-- waitlist status-row -->

        <div class="row-fluid">
          <div class="span3 offset3">Section Type: </div>
          <div class="span4"><span class='section-section_type'></span></div>
        </div> <!-- section type status-row -->

        <div class="row-fluid">
          <div class="span3 offset3">Lesson Type: </div>
          <div class="span4"><span class='section-lesson_type'></span></div>
        </div> <!-- grouping type status-row -->

        <div class="row-fluid">
          <center>
            Description <br /> 
            <span class='section-description'>the lsadjblkcd nlkx adskfjladsjxzc lzxchjvlzxjhc asljdfasj xckjvj</span>
          </center>
        </div> <!-- description-row -->
        <div class="row-fluid">
          <div class="span 6 spacer20"></div></div>
        <div class="row-fluid">
          <center>
            <button class="btn btn-small btn-primary section-eventButton" type="button"></button>
            <span class="section-eventButton"></span>
          </center>
        </div> <!-- description-row -->
      </div> <!-- accordion-body collapse -->
    </div> <!-- section-id -->
  </div> <!-- accordion-group -->