
<div class="modal hide fade" id="update-contacts">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">&times;</a>
		<h3>Contact Information</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
				<legend>First Contact</legend>
				<div class="control-group">
					<label class="control-label" for="update-first-contact-name">Name </label>
					<div class="controls">
						<input type="text" class="input-large" id="update-first-contact-name">
					</div>
				</div> <!-- contact one name -->

				<div class="control-group">
					<label class="control-label" for="update-first-contact-primary">Primary Contact</label>
					<div class="controls">
						<input type="text" class="input-medium bfh-phone" data-country="US" id="update-first-contact-primary">
					</div>
				</div><!--  contact one primary -->

				<div class="control-group">
					<label class="control-label" for="update-first-contact-secondary">Secondary Contact</label>
					<div class="controls">
						<input type="text" class="input-medium bfh-phone" data-country="US" id="update-first-contact-secondary">
					</div>
				</div> <!-- contact one secondary -->

				<legend>Second Contact</legend>
				<!-- Secondary Contact Modal -->
				<div class="control-group">
					<label class="control-label" for="update-second-contact-name">Name </label>
					<div class="controls">
						<input type="text" class="input-large" id="update-second-contact-name">
					</div>
				</div> <!-- contact two name -->

				<div class="control-group">
					<label class="control-label" for="update-second-contact-primary">Primary Contact</label>
					<div class="controls">
						<input type="text" class="input-medium bfh-phone" data-country="US" id="update-second-contact-primary">
					</div>
				</div><!--  contact two primary -->

				<div class="control-group">
					<label class="control-label" for="update-second-contact-secondary">Secondary Contact</label>
					<div class="controls">
						<input type="text" class="input-medium bfh-phone" data-country="US" id="update-second-contact-secondary">
					</div>
				</div> <!-- contact two secondary -->
		</form> <!-- contact one form -->
	</div>
	<div class="modal-footer">
		<a role="button" class="btn" data-toggle="modal" data-dismiss="modal" href="#update-user-1">Back</a>
		<a role="button" class="btn" data-toggle="modal" data-dismiss="modal" href="#update-other" >Next</a>
	</div>
</div>