<html>

<head>
	<title>View Registrations</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
 	<style type="text/css">
 		h1{color:Orange; text-shadow: 1.2px 1.2px black;}
 		.title{
 			font-size: 1.5em; 
 			color:DarkSlateGray;
 			text-align: center;
 			 text-shadow: 1.2px 1.2px white;
 		}
 		#err-message{
 			text-align: center; 
 			width:500px;
 		}
 		#all-registrations{
 			background-color:Orange;
 			color:white;
 			text-shadow:1.2px 1.2px #000;
 			width:450px;
 			margin:20px;
 			padding-bottom:10px;
 			padding-top: 8px;
 			border-color: black;
 			border-style:solid;
 			border-width:1px;
 		}
		.section {
			text-align:center;
			width:400px;
			margin:10px;
			padding:5px;
			background-color:LightSteelBlue;
			border-width:2px;
			padding-top:5px;
			margin-bottom:5px;
			border-color:black;
			border-style:solid;
		}
		.description{
			text-align:left;
			padding:10px;
			padding-top:5px;
			width:375px;
			margin-top:5px;
		} 
		.section-left-column{
			text-align:left;
		 	padding:10px;
		 	padding-left:50px;
		 	padding-right: 50px;
		 	float:left;
		}
		.section-right-column{
			text-align:left;
		 	padding:10px;
		 	padding-right:50px;
		 	padding-right:50px;
		 	float:left;
		}
		.all-registrations{ width:900px;}
		.button{padding-left: 100px;}
		b{font-size: 1.2em; }
	</style>
</head>

<body>
<center>
<h1>Enroll in Section</h1>

	<div id="all-registrations"></div>

	<div id="err-message"></div>

	<div id="section-template" >
		<a class="title" href="#"></a>
		<div class="section-info">
			<div class="section-left-column">
				Instructor: <br />
				Time: <br />
				Dates: <br />
				Enrollment: <br />
				Waitlist: <br />
			</div>
			<div class="section-right-column">
				<span class='instructor'></span><br />
				<span class='time'></span><br />
				<span class='date'></span><br />
				<span class='enrolled'></span><br />
				<span class='waitlisted'></span><br />
			</div>
			<br /><b>Description</b>
			<div class='description'>
			</div>
			<center><button class="btn btn-medium btn-primary" type="button">Register</button></center>
		</div>
	</div>
</center>
</body>

<script type="text/javascript">

$(document).ready(function() {
	init_view_sections();
});



</script>
</html>