<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking - User </title>
		<link type="text/css" rel="stylesheet" href="assets/users.css.scss">

		<script type='text/javascript' src='http://code.jquery.com/jquery-1.4.2.js'></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

	</head>

	<body>
		<div id="top">
			<br><h1>
				<utitleStyle>
					
					Rancho Rinconada Online Booking - Users
					<unewUserStyle>
						<a href="/"> 
							<input id="homepage-button" type="submit" value="  HOMEPAGE  ">
						</a>
					</unewUserStyle>

				</utitleStyle>
			</h1>
		</div>

		<div id="rightColumn">
			<br><ufloatRight>
				<form>
					<p>
						<usignupBox>
								New Account Form
						</usignupBox>

						<br><br>
						<ufont15px>
							Firstname
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-first" type="password" name="pwd" style="width:280px; height:23px; font-size:17px"><br>
			      		</ufont15px>
			      		<br>

			      		<ufont15px>
							Lastname
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-last" type="password" name="pwd" style="width:280px; height:23px; font-size:17px"><br>
			      		</ufont15px>
			      		<br>

						<ufont15px>
							E-mail
						</ufont15px>
						<br>
						<ufont15px>
							<input id="create-email" type="text" name="email" style="width:280px; height:23px; font-size:17px">
							<br>
						</ufont15px>
						<br>

						<ufont15px>
							Password
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-password" type="password" name="pwd" style="width:280px; height:23px; font-size:17px"><br>
			      		</ufont15px>
			      		<br>

						<ufont15px>
							Re-Enter Password
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-repassword" type="password" name="pwd" style="width:280px; height:23px; font-size:17px"><br>
			      		</ufont15px>
			      		<br>

			      		<ufont15px>
							Zipcode
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-zipcode" type="password" name="pwd" style="width:80px; height:23px; font-size:17px"><br>
			      		</ufont15px>
			      		<br>

			      		<ufont15px>
			      			<input id="create-button" type="submit" value=" Create " style="width:120px; height:30px;font-size:20px; background-color:rgb(67,81,104); border-color: rgb(67,81,104); color:white"> 
			      		</ufont15px>
					</p>
				</form>
			<ufloatRight>
		</div>


		<div id="leftColumn">
			<ufloatLeft>
				<p><br>
					<uleftBox>
						Future Pictures Go Here
					</uleftBox>
				</p>
			</ufloatLeft>
		</div>

		
		<div id="bottom">
			<f1>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br>
				
				<ufooterStyle>
					© 2012 Copyright Rancho Rinconada Rec Center
				</ufooterStyle>
			</f1>
		</div>
	</body>

			
		<script type="text/javascript">

			$('#top').hide()
   			$('#rightColumn').hide()
   			$('#leftColumn').hide()
   			$('#system-message').hide()
   			$('#bottom').hide()
   			$('#login-email').val("")
			$('#login-password').val("")
   
   			/* setup the page so that only one of the forms is shown */
			
			$(document).ready(function() {
			 	show_login_page()
			 });

			function show_login_page() {
				$('#top').show()
	   			$('#rightColumn').show()
	   			$('#leftColumn').show()
	   			$('#bottom').show()

			}

			

			function handle_login_response(data) {

			  switch (data.errCode){
			    case 108:
			      //show_system_message("Cannot find the Username/Password<br> pair. Click OK to try again."); 
			      break
			    default:
			    	if (data.admin == 0) {
			    		window.location.href = "admin";
			    	} 
			    	else {
			    		window.location.href = "admin";
			    	}   
			  }

			  return

			}

			
			$('#login-button').click(function() {
			   email = $('#login-email').val()
			   password = $('#login-password').val()
			   json_request("/Users/login", { email: email, password: password }, function(data) 
			   	{ return handle_login_response(data); }, function(err) { alert('error occurred on request'); });

			   return false;
			});

			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'POST',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });
}

		</script>

		
</html>