<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking - User </title>
		<link type="text/css" rel="stylesheet" href="/assets/users.css.scss">

		<script type='text/javascript' src='http://code.jquery.com/jquery-1.4.2.js'></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

		<script type="text/javascript">
		<!-->
		var image1=new Image()
		image1.src="/assets/rancho2.jpg"
		var image2=new Image()
		image2.src="/assets/rancho1.jpg"
		var image3=new Image()
		image3.src="/assets/rancho3.jpg"
		var image4=new Image()
		image4.src="/assets/rancho4.jpg"
		//-->
		</script>
	</head>

	<div class="container"><body>
		<div id="top">
			<br><h1>
				<utitleStyle>
					
					Rancho Rinconada Online Booking  - New User
					<unewUserStyle>
							<a class="btn btn-large btn-warning" href="/"><i class="icon-home icon-white"></i> Home</a>
					</unewUserStyle>

				</utitleStyle>
			</h1>
		</div>

		<div id="rightColumn">
			<br><br><ufloatRight>
				<form>
						<usignupBox>
								New Account Form
						</usignupBox>

						<br><br>
						<ufont15px>
							Firstname
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-first" type="text" name="first" style="width:280px; height:23px; font-size:17px"><br>
			      		</ufont15px>

			      		<ufont15px>
							Lastname
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-last" type="text" name="last" style="width:280px; height:23px; font-size:17px;"><br>
			      		</ufont15px>

						<ufont15px>
							E-mail
						</ufont15px>
						<br>
						<ufont15px>
							<input id="create-email" type="text" name="email" style="width:280px; height:23px; font-size:17px">
							<br>
						</ufont15px>

						<ufont15px>
							Password
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-password" type="password" name="pwd" style="width:280px; height:23px; font-size:17px"><br>
			      		</ufont15px>

						<ufont15px>
							Re-Enter Password
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-repassword" type="password" name="pwdconf" style="width:280px; height:23px; font-size:17px"><br>
			      		</ufont15px>

			      		<ufont15px>
							Zipcode <space>12345</space> Date of Birth
						</ufont15px>
						<br>
						<ufont15px>
			     			<input id="create-zipcode" type="text" max='5' name="zip" style="width:60px; height:23px; font-size:17px">
			     			<space>123</space>
			     			<input id="create-dob" type="text" placeholder="mm/dd/yyyy" name="dob" style="width:110px; height:23px; font-size:17px">
			     			<br>
			      		</ufont15px>
			      		

			      		<ufont15px id="err_message"></ufont15px><br />

			      		<ufont15px>
			      			<button id="create-button" class="btn btn-large btn-primary" type="button">Create</button>

			       		</ufont15px>

				</form>
			<ufloatRight>
		</div>


		<div id="leftColumn">
			<br><br><br>
			<floatLeft>
			<uleftBox>
				<img src="/assets/rancho1.jpg" name="slide" class="img-rounded" width="530px" height="600px">

				<script type="text/javascript">
					<!-->
					var step=1

					function slideit(){
						document.images.slide.src=eval("image" + step + ".src")
						if (step<4)
							step++
						else 
							step=1
							setTimeout("slideit()",4500)

					}
					slideit()
					//-->
					</script>
			</uleftBox>
		</floatLeft>
		</div>

		<div id="system-message" class="errbox">
		  <center>
			  <div id="credentials-message" class="errmessage"></div>
			    
			    <form>
			      <input type="submit" id="ok-button" value="       OK       " onclick="close_error();return false;" >
				</form>

			</center>
		</div>


		
		<div id="bottom">
			<f1>
				<br><br><br><br><br><br>
				<br><br><br><br><br><br>
				<br><br><br><br><br><br>
				<br><br><br><br><br>
				
				<footerStyle>
					© 2012 Copyright Rancho Rinconada Rec Center
				</footerStyle>
			</f1>
			<br><br>
		</div>
	</body></div>

			
		<script type="text/javascript">


			$('#top').hide()
   			$('#rightColumn').hide()
   			$('#leftColumn').hide()
   			$('#system-message').hide()
   			$('#bottom').hide()
   
   			/* setup the page so that only one of the forms is shown */
			
			$(document).ready(function() {
			 	show_login_page()
			 });

			function show_login_page() {
				$('#top').show()
	   			$('#rightColumn').show()
	   			$('#leftColumn').show()
	   			$('#bottom').show()

			}

			function close_error(){
				$('#system-message').hide()
			}

			function show_system_message2(message) {
			   	$('#system-message').show()
			   	$('#credentials-message').html(message);
			}


			function handle_login_response3(data) {
				$('ufont15px#err_message').empty();
				$('ufont15px#err_message').css('font-size','12px');
				$('ufont15px#err_message').css('color','red');
				$('ufont15px#err_message').append(getErrorMessage(data));
			}

			function getErrorMessage(data) {
			  switch (data.errCode){
			    case 101:
			    	return "First Name Must Contain 1-32 Characters";
			      break;
			    case 102:
			    	return "Last Name Must Contain 1-32 Characters";
			      break;
			    case 103:
			    	return "Not a Valid E-mail Address";
			      break;
			    case 104:
			    	return "Password Must Contain 6-32 Characters";
			      break;
			    case 105:
			    	return "Date of Birth is Not Valid (mm/dd/yyyy)";
			      break;
			    case 106:
			    	return "Zip Code Must be a Five Digit Number.";
			      break;

			    case 107:
			    	return "E-mail Already Registered.";
			      break;

			    case 109:
			    	return "Password and Password Confirmation DO NOT match.<br />";
			      break;

			    //This is the case for success
			    default:
			    	if (data.admin == 0) {
			    		window.location.href = "/admin";
			    	} 
			    	else {
			    		window.location.href = "/admin";
			    	}   
			  }
			  return "Unknown Error"
			}


			function handle_login_response2(data) {
			  switch (data.errCode){
			    case 101:
			      show_system_message2("First Name Must Contain 1-32 Characters.<br> Click OK to try again."); 
			      break;
			    case 102:
			      show_system_message2("Last Name Must Contain 1-32 Characters.<br> Click OK to try again."); 
			      break;
			    case 103:
			      show_system_message2("Not a Valid E-mail Address.<br> Click OK to try again."); 
			      break;
			    case 104:
			      show_system_message2("Password Must Contain 6-32 Characters.<br> Click OK to try again."); 
			      break;
			    case 105:
			      show_system_message2("Date of Birth is Not Valid (mm/dd/yyyy).<br> Click OK to try again."); 
			      break;
			    case 106:
			      show_system_message2("Zip Code Must be a Five Digit Number.<br>  Click OK to try again."); 
			      break;

			    case 107:
			      show_system_message2("E-mail Already Registered.<br>  Click OK to try again."); 
			      break;

			    case 109:
			      show_system_message2("Password and Password Confirmation DO NOT match.<br>  Click OK to try again."); 
			      break;

			    //This is the case for success
			    default:
			    	if (data.admin == 0) {
			    		window.location.href = "/admin";
			    	} 
			    	else {
			    		window.location.href = "/admin";
			    	}   
			  }

			  return

			}

			
			$('#create-button').click(function() {
			   lastname = $('#create-last').val()
			   firstname = $('#create-first').val()
			   email = $('#create-email').val()
			   password = $('#create-password').val()
			   repassword = $('#create-repassword').val()
			   zip = $('#create-zipcode').val()
			   dob = $('#create-dob').val()
			   admin = 0;

			   json_request("/Users/add", { last: lastname, first: firstname, admin: admin,
			   	email: email,dob: dob, zip: zip, password_confirmation: repassword, password: password }, function(data)
			   	{ return /*alert(JSON.stringify(data))*/handle_login_response3(data); }, function(err) { alert('error occurred on request'); });
			   	// { return /*alert(JSON.stringify(data))*/handle_login_response2(data); }, function(err) { alert('error occurred on request'); });

			   return false;


			});

			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'POST',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });
}

		</script>

		
</html>