<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <!-- <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"> -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <style type="text/css">

body {
  background-color: white;
}
.accordion-inner {
  font-size: 11px;
}
.status-enrolled {
  background-color: ForestGreen;
  color: white;
}
.status-waitlisted {
  background-color: yellow;
}
#confirm-modal {
  margin-left: -150px;
  width: 300px;
}
.section-header {
  text-align: center;
}
#update-user {
  margin-bottom: -100px;
}
#update-user-errors {
  height: 16px;
  width: 180px;
  float: left;
  margin-bottom: -20px;
}
#update-user-errors {
  height: 16px;
  width: 180px;
  float: left;
}
#update-user-success {
  height: 16px;
  width: 200px;
  float: left;
}
#update-password-1 {
  width:400px;
  margin-left: -200px;
}
.alert {
  text-align: center;
  margin-bottom: -10px;
  margin-top: -30px;
  font-size: 12px;
}
#update-password-errors {
  width: 160px;
  height: 16px;
}

</style>
  
</head>


<%# render 'navbar/homepage_navbar' %>
<%= render 'navbar/new_navbar' %>

<!-- User Profile Information -->
<!-- Lessons -->

<div class="row-fluid">
  <div class="tabbable span3 offset1">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#user-details" data-toggle="tab">Details</a></li>
      <li><a href="#user-contacts" data-toggle="tab">Contact Info</a></li>
      <li><a href="#user-restofinfo" data-toggle="tab">Extra Info</a></li>
    </ul>
    <div class="tab-content">
    
    <div class="tab-pane active" id="user-details">
        <h4>Personal Details</h4>
        
        <table class="table table-hover">
            <tr>
            <td>First Name</td>
            <td><span id="show-first"></span></td>
            </tr>
            <tr>
            <td>Last Name</td>
            <td><span id="show-last"></span></td>
            </tr>
            <tr>
            <td>Email</td>
            <td><span id="show-email"></span></td>
            </tr>
            <tr>
            <td>Date of Birth</td>
            <td><span id="show-dob"></span></td>
            </tr>
            <td>Gender</td>
            <td><span id="show-gender"></span></td>
            </tr>
        </table>
        <h4>Current Residence</h4>        
        <table class="table table-hover">
            <tr>
            <td>Address</td>
            <td><span id="show-residence-address"></span></td>
            </tr>
            <td>City</td>
            <td><span id="show-residence-city"></span></td>
            </tr>
            <td>Zipcode</td>
            <td><span id="show-residence-zip"></span></td>
            </tr>
        </table>
    </div>
    <div class="tab-pane" id="user-contacts">
        <!-- <h4>Contact Info</h4> -->
        
        <table class="table table-hover">
            <tr>
              <th>First Contact</th><th />
            </tr>
            <tr>
              <td>Contact Name</td>
              <td><span id="show-contacts-first-name"></span></td>
            </tr>
            <tr>
              <td>1st Number</td>
              <td><span id="show-contacts-first-primary"></span></td>
            </tr>
            <tr>
              <td>2nd Number</td>
              <td><span id="show-contacts-first-secondary"></span></td>
            </tr>
        </table>
        <table class="table table-hover">
            <tr>
              <th>Second Contact</th><th />
            </tr>
            <tr>
              <td>Contact Name</td>
              <td><span id="show-contacts-second-name"></span></td>
            </tr>
            <tr>
              <td>1st Number</td>
              <td><span id="show-contacts-second-primary"></span></td>
            </tr>
            <tr>
              <td>2nd Number</td>
              <td><span id="show-contacts-second-secondary"></span></td>
            </tr>
        </table>
    </div>


    <div class="tab-pane" id="user-restofinfo">
<!--         <h4>Skill Level</h4>
        <table class="table table-hover">
            <tr>
            <td>Skill Level</td>
            <td><span id="show-skill"></span></td>
            </tr>
        </table> -->
<!--         <h4>Extra Info</h4> -->
        <p><span id="show-extra"></span></p>
    </div> <!-- other -->
  </div> <!-- tabcontent -->
</div> <!-- tabbable -->

<%# render 'users/testSection' %>
<%= render 'users/user_sections' %>

</div> <!-- row -->



<!-- Put extra hiddend values here -->
<%# render 'users/section_template' %>
<%# render 'shared/update_user_form' %>
<%# render 'users/update_user_additional' %>
<%# render 'users/update_user_contacts' %>

<%= render 'navbar/update_user_password' %>
<%= render 'navbar/update_user_modal' %>




<script type="text/javascript">



$(document).ready( function() {
    init_navbar_profile();
    init_user_profile();
    init_password_update();
});



function init_navbar_profile() {
    $('#CreateAccountButton').hide();
    $("#SignDropDown").hide();
    $("#WelcomeDropDown").show();
    $("#login-user-button").click(sendLoginUserRequest);
    $('#update-user-button').click(sendUpdateUserRequest);
    $('#logout-button').click( sendLogoutUserRequest );
}


function init_user_profile() {
  $.getJSON("/Users/profile", handleProfileResponse);
  $.getJSON("/Registrations/getEnrolledSections", handleViewSectionsResponse);
  return true;
}







</script>
</html>
