<h1>Users#show</h1>
<table>
	<tr>
		<td>Name: </td><td> user.name </td>
	</tr>
	<tr>
		<td>Email: </td><td> user.email </td>
	</tr>
	<tr>
		<td>Zipcode: </td><td> user.zip </td>
	</tr>
	<tr>
		<td>Birthday: </td><td> user.birthday.toString </td>
	</tr>
</table>

<div class="sessions">
	<h4> user.terms.each do |term| </h4>
	<table>
	<tr>
		<td>term.name</td>
		<td><%= link_to "TermTitle", "#" %></td>
	</tr>
	</table>
</div>