<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
</head>

<body>
  <form>
    <label>email:</label>
      <input id="test-email" type="text"><br>
    <label>first:</label>
      <input id="test-first" type="text"><br>
    <label>last:</label>
      <input id="test-last" type="text"><br>
    <label>password:</label>
      <input id="test-password" type="password"><br>
    <label>password_confirmation:</label>
      <input id="test-password_confirmation" type="password"><br>
    <label>new_password:</label>
      <input id="test-new_password" type="password"><br>
    <label>new_password_confirmation:</label>
      <input id="test-new_password_confirmation" type="password"><br>
    <label>zip:</label>
      <input id="test-zip" type="text"><br>
    <label>dob:</label>
      <input id="test-dob" type="text"><br>
    <input id="test-add" type="submit" value="add">
    <input id="test-login" type="submit" value="login">
    <input id="test-delete" type="submit" value="delete">
    <input id="test-update" type="submit" value="update">
    <input id="test-logout" type="submit" value="logout">
    <input id="test-profile" type="submit" value="profile">
    <input id="test-updatePassword" type="submit" value="updatePassword">
    <input id="test-allUsers" type="submit" value="allUsers">
    <a id = "test-link" href="/Users/test2">link</a>
  </form>
  <form action="/Users/csv">
    <input id="test-csv" type="submit" value="csv">
  </form>
  <div id="test-message"</div>
</body>

<script type="text/javascript">
  $(document).ready(function() {
    display_message("Test form loaded") 
  })

  function reset_form() {
    $('form')[0].reset() 
  }

  function display_message(message) {
    $('#test-message').html(message)
  }
  
  $('#test-add').click(function() {
    email = $('#test-email').val()
    first = $('#test-first').val()
    last = $('#test-last').val()
    password = $('#test-password').val()
    password_confirmation = $('#test-password_confirmation').val()
    dob = $('#test-dob').val()
    zip = $('#test-zip').val()
    request = {email: email, first: first, last: last, password: password,
               password_confirmation: password_confirmation, dob: dob,
               zip: zip}
    json_request("/Users/add", request, 
                 function(data) {return display_message("Add" + JSON.stringify(data))}, 
                 function(error) {alert("Error")}) 
    reset_form()
    return false
  })

  $('#test-login').click(function() {
    email = $('#test-email').val()
    first = $('#test-first').val()
    last = $('#test-last').val()
    password = $('#test-password').val()
    password_confirmation = $('#test-password_confirmation').val()
    dob = $('#test-dob').val()
    zip = $('#test-zip').val()
    request = {email: email, first: first, last: last, password: password,
               password_confirmation: password_confirmation, dob: dob,
               zip: zip}
    json_request("/Users/login", request, 
                 function(data) {return display_message("Login" + JSON.stringify(data))}, 
                 function(error) {alert("Error")}) 
    reset_form()
    return false
  }) 

  $('#test-delete').click(function() {
    email = $('#test-email').val()
    first = $('#test-first').val()
    last = $('#test-last').val()
    password = $('#test-password').val()
    password_confirmation = $('#test-password_confirmation').val()
    dob = $('#test-dob').val()
    zip = $('#test-zip').val()
    request = {email: email, first: first, last: last, password: password,
               password_confirmation: password_confirmation, dob: dob,
               zip: zip}
    json_request("/Users/delete", request, 
                 function(data) {return display_message("Delete" + JSON.stringify(data))}, 
                 function(error) {alert("Error")}) 
    reset_form()
    return false
  })

  $('#test-update').click(function() {
    email = $('#test-email').val()
    first = $('#test-first').val()
    last = $('#test-last').val()
    password = $('#test-password').val()
    dob = $('#test-dob').val()
    zip = $('#test-zip').val()
    request = {email: email, first: first, last: last, password: password,
               dob: dob,
               zip: zip}
    json_request("/Users/update", request, 
                 function(data) {return display_message("Update" + JSON.stringify(data))}, 
                 function(error) {alert("Error")}) 
    reset_form()
    return false
  })

  $('#test-logout').click(function() {
    request = {}
    json_request("/Users/logout", request, 
                 function(data) {return display_message("Logout" + JSON.stringify(data))}, 
                 function(error) {alert("Error")}) 
    reset_form()
    return false
  })

  $('#test-profile').click(function() {
    request = {}
    json_request("/Users/profile", request, 
                 function(data) {return display_message("Profile" + JSON.stringify(data))}, 
                 function(error) {alert("Error")}) 
    reset_form()
    return false
  })

  $('#test-updatePassword').click(function() {
    password = $('#test-password').val()
    new_password = $('#test-new_password').val()
    new_password_confirmation = $('#test-new_password_confirmation').val()
    request = {password: password, new_password: new_password,
               new_password_confirmation: new_password_confirmation}
    json_request("/Users/updatePassword", request, 
                 function(data) {return display_message("UpdatePassword" + JSON.stringify(data))}, 
                 function(error) {alert("Error")}) 
    reset_form()
    return false
  })

  $('#test-allUsers').click(function() {
    request = {}
    json_request("/Users/allUsers", request, 
                 function(data) {return display_message("AllUsers" + JSON.stringify(data))}, 
                 function(error) {alert("Error")}) 
    reset_form()
    return false
  })

  function json_request(page, dict, success, failure) {
    $.ajax({
      type: "POST",
      //beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))}, 
      url: page,
      data: JSON.stringify(dict),
      contentType: "application/json",
      dataType: "json",
      success: success,
      failure: failure
    })
  }
</script>

</html>
