
<head>
	<title>View Registrations</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
 	<style type="text/css">
 		body{color:white;}
 		#password-box{ height:300px;}
 		form#update-password-form{ text-align:center; padding-bottom:20px; padding-top:20px; border-style:solid; border-width: 1px; width:300px;}
 		#err-messages{}
 		#user-sidenav{font-size: 1.5em; background-color:DarkSlateGray;}
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
 </style>
</head>

<body><!-- <h1>Update Password</h1> -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid" id='topbar'>
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Rancho Rinconanda</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">name</a>
            </p>
            <ul class="nav">
              <li><a href="#">Home</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div> <!-- container -->
      </div> <!-- navbar inner -->
    </div> <!-- fixed top -->

	<div class="container-fluid">
			<div class="span3">
				<div class="well sidebar-nav">
		        	<ul class="nav nav-list">
				  	<li><a href="#" data-toggle="tab">View Details</a></li>
				  	<li><a id="edit-details-trigger" href="/Users/updateUsers" data-toggle="tab">Edit Details</a></li>
				  	<li><a id="password-trigger" href="#" data-toggle="tab">Change Password</a></li>
				  	<li><a id="password-trigger" href="/users/addSection" data-toggle="tab">Section Enrollment</a></li>
				  	<li><a href="#" data-toggle="tab">Notifications</a></li>
					</ul>
				</div> <!-- well -->
			</div> <!-- span4 -->
			<div class='span9' id='password-box'>
				<div class='offset4'>
					<form id='update-password-form'>
					  	<label for="old-password">Curr password</label>
						<input type="password" name="old-password" id="old-password"><br>

						<label for="password-new">New password</label>
						<input type="password" name="password" id="password"><br>

						<label for="password-new-confirm">Re-type password</label>
						<input type="password" name="password-confirmation" id="password-confirmation"><br><br>

						<button class="btn btn-small btn-primary" type="button" id="submit-password-update">Save Changes</button>
					</form>
					<p id='user-info'>
						Name:<span id='user-name'></span><br />
						email:<span id='user-email'></span><br />
						dob:<span id='user-dob'></span><br />
						zip:<span id='user-zip'></span><br />
					</p>
					<span id='err-message'></span>
				</div> <!-- offset2 -->
			</div> <!-- span -->

		</div> <!-- row -->
	</div> <!-- container -->


</body>

<script type="text/javascript">

$(document).ready(function() {
	$('#update-password-form').hide();
	$('#user-info').hide();
	// $('#user-template').hide();		//hide template
	getUserInfo();				//populate table
	
});

$('#user-info').show();
$('#password-trigger').click(function() {
	$('#update-password-form').toggle(); 
})

//////////////////////////////////////////////////////////////////////
////////////////////// User Information JS ///////////////////////////
//////////////////////////////////////////////////////////////////////

function handleProfileResponse(data) {
	var error_code = data.errCode;
	// var error_msg = getErrorMessage(error_code);
	$('#err-message').empty();
	// $('#err-message').append(error_msg);

	if(error_code==1) {
		renderUserHTML(data);
		return true;
	}
 	return false;
}
var Name = function(first,last) {
	this.first = first;
	this.last = last;
	this.fullname = first + " " + last;
}

function getUserInfo() {
	post_json_request("/Users/profile", {}, 
		function(data) {return handleProfileResponse(data)}, 
        function(error) {alert("Error")}); 

}

function renderUserHTML(userJSON) {
	var	username = new Name(userJSON.first, userJSON.last);
	$('#user-info').find('#user-name').append(username.fullname);
	$('#user-info').find('#user-email').append(userJSON.email);
	$('#user-info').find('#user-dob').append(userJSON.dob);
	$('#user-info').find('#user-zip').append(userJSON.zip);
	return false;
}

//////////////////////////////////////////////////////////////////////
////////////////////// Password Submission JS/////////////////////////
//////////////////////////////////////////////////////////////////////

$('#submit-password-update').click( function() {sendPasswordUpdateRequest() }  );

function sendPasswordUpdateRequest() {
	var old_password = $('#old-password').val();
    var new_password = $('#password').val();
    var confirm_new_password = $('#password-confirmation').val();
    var update_password_dict = {prev_password:old_password, password:new_password, password_confirmation:confirm_new_password};
	post_json_request("/user/update_password", update_password_dict, function(data) { return handleUpdatePasswordResponse(data); });
	return false;
}

function post_json_request(page, dict, success) {
	$.ajax({
		type: 'POST',
		url: page,
		data: JSON.stringify(dict),
		contentType: "application/json",
		dataType: "json",
		success: success
	});
}


function handleUpdatePasswordResponse(data) {
	var error_code = data.errCode;
	var sections = data.sections;
	var error_msg = getErrorMessage(error_code);

	$('#err-message').empty();
	$('#err-message').append(error_msg);

 	return false;
}
function getErrorMessage(errCode) {
	switch (errCode) {
		case 104: 	return "Password Must Contain 6-32 Characters";
		case 107: 	return "E-mail Already Registered.";
		case 109: 	return "Password and Password Confirmation DO NOT match";
		case 1: 	return "";
		default: 	return "unknown error has occurred"
	}
}
	
</script>