<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking - User </title>
		<link type="text/css" rel="stylesheet" href="assets/updateUsers.css.scss">

		<script type='text/javascript' src='http://code.jquery.com/jquery-1.4.2.js'></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

	</head>

	<div class="container"><body>
		<div id="top">
			<br><h1>
				<updatetitleStyle>
					
					Rancho Rinconada Online Booking  - Update Profile
					<updateUserMenuStyle>
						<a class="btn btn-large btn-warning" href="/"><i class="icon-home icon-white"></i> Home</a>
					</updateUserMenuStyle>

				</updatetitleStyle>
			</h1>
		</div>

		<br><br>

		<div id="rightColumn">
			<br><updatefloatRight>
				<form>
					<p>
						<updateProfileBox>
								Update User Profile Form
						</updateProfileBox>

						<br><br>
						<updatefont16px>
							Firstname
						</updatefont16px>
						<br>
						<updatefont16px>
			     			<input id="create-first" type="text" name="first" style="width:280px; height:23px; font-size:17px"><br>
			      		</updatefont16px>
			      		<br>

			      		<updatefont16px>
							Lastname
						</updatefont16px>
						<br>
						<updatefont16px>
			     			<input id="create-last" type="text" name="last" style="width:280px; height:23px; font-size:17px;"><br>
			      		</updatefont16px>
			      		<br>

						<updatefont16px>
							E-mail
						</updatefont16px>
						<br>
						<updatefont16px>
							<input id="create-email" type="text" name="email" style="width:280px; height:23px; font-size:17px">
							<br>
						</updatefont16px>
						<br>

			      		<updatefont16px>
							Zipcode <space>12345</space> Date of Birth
						</updatefont15px>
						<br>
						<updatefont16px>
			     			<input id="create-zipcode" type="text" name="zip" style="width:60px; height:23px; font-size:17px">
			     			<space>123</space>
			     			<input id="create-dob" type="text" name="dob" style="width:110px; height:23px; font-size:17px">
			     			<br>
			      		</updatefont16px>
			      		<br>

			      		<updatefont16px>
			      			<button id="create-button" class="btn btn-large btn-primary" type="button">Update</button>
			      		</updatefont16px>
					</p>
				</form>
			<updatefloatRight>
		</div>


		<div id="leftColumn">
			<updatefloatLeft>
				<p>
					<updateleftBox>
						Future Pictures Go Here
					</updateleftBox>
				</p>
			</updatefloatLeft>
		</div>

		<div id="system-message" class="errbox">
		  <center>
			  <div id="credentials-message" class="errmessage"></div>
			    <form>

			      <input type="submit" id="ok-button" value="       OK       " onclick="close_error();return false;" >
			    
			    </form>
			</center>
		</div>


		
		<div id="bottom">
			<f1>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br><br><br><br><br><br>
				<br><br><br><br>
				
				<footerStyle>
					© 2012 Copyright Rancho Rinconada Rec Center
				</footerStyle>
			</f1>
		</div>
	
	</body></div>

			
		<script type="text/javascript">

		   	lastname = 'hello'
		   	firstname = 'hello'
		   	email = 'hello'
		   	password = 'hello'
		   	repassword = 'hello'
		   	zip = 'hello'
		   	dob = 'hello'


			$('#top').hide()
   			$('#rightColumn').hide()
   			$('#leftColumn').hide()
   			$('#system-message').hide()
   			$('#bottom').hide()
   
   			/* setup the page so that only one of the forms is shown */
			
			$(document).ready(function() {

				show_login_page()

				json_request("/Users/profile", {}, function(data) 
			   	{ return /*alert(JSON.stringify(data))*/show_update_populate(data); }, function(err) { alert('error occurred on request'); });

			 });

			function show_login_page() {
				$('#top').show()
	   			$('#rightColumn').show()
	   			$('#leftColumn').show()
	   			$('#bottom').show()


			}

			function close_error(){
				$('#system-message').hide()
			}

			function show_system_message3(message) {
			   	$('#system-message').show()
			   	$('#credentials-message').html(message);
			}

			function show_update_populate(data) {

				$('#create-last').val() = data.last
				$('#create-first').val() = data.first
			   	$('#create-email').val() = emil.email
				$('#create-zipcode').val() = data.zip
				$('#create-dob').val() = data.dob

				if ($('#create-dob').val() == '')
			 	{
			 		$('#create-dob').val('mm/dd/yyyy')
			 	}

				show_system_message3(data.zip)



			} 

			

			function handle_update_response3(data) {
			  switch (data.errCode){
			    case 101:
			      show_system_message3("First Name Must Contain 1-32 Characters.<br> Click OK to try again."); 
			      break;
			    case 102:
			      show_system_message3("Last Name Must Contain 1-32 Characters.<br> Click OK to try again."); 
			      break;
			    case 103:
			      show_system_message3("Not a Valid E-mail Address.<br> Click OK to try again."); 
			      break;
			    case 104:
			      show_system_message3("Password Must Contain 6-32 Characters.<br> Click OK to try again."); 
			      break;
			    case 105:
			      show_system_message3("Date of Birth is Not Valid (mm/dd/yyyy).<br> Click OK to try again."); 
			      break;
			    case 106:
			      show_system_message3("Zip Code Must be a Five Digit Number.<br>  Click OK to try again."); 
			      break;

			    case 107:
			      show_system_message3("E-mail Already Registered.<br>  Click OK to try again."); 
			      break;

			    case 109:
			      show_system_message3("Password and Password Confirmation DO NOT match.<br>  Click OK to try again."); 
			      break;

			    //This is the case for success
			    default:
			    	show_system_message3("Cannot find the Username/Password<br> pair. Click OK to try again."); 
			    	if (data.admin == 0) {
			    		window.location.href = "/admin";
			    	} 
			    	else {
			    		window.location.href = "/admin";
			    	}   
			  }

			  return

			}

			
			$('#create-button').click(function() {
			   lastname = $('#create-last').val()
			   firstname = $('#create-first').val()
			   email = $('#create-email').val()
			   password = $('#create-password').val()
			   repassword = $('#create-repassword').val()
			   zip = $('#create-zipcode').val()
			   dob = $('#create-dob').val()
			   admin = 0;

			   json_request("/Users/update", { last: lastname, first: firstname, admin: admin,
			   	email: email,dob: dob, zip: zip, password_confirmation: repassword, password: password }, function(data) 
			   	{ return /*alert(JSON.stringify(data))*/handle_update_response2(data); }, function(err) { alert('error occurred on request'); });

			   return false;


			});

			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'GET',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });
}

		</script>

		
</html>