
<head>
	<title>View Registrations</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
 	<style type="text/css">
 		body{color:white;}
 		#password-box{ padding:100px; border-style:solid; width:500px; height:300px;}
 		form#update-password-form{border-style: solid; text-align:center; padding-bottom:25px;}
 		#err-messages{border-style: solid;}
	</style>
</head>

<body>
<h1>Update Password</h1>

<div id='password-box'>
	<form id='update-password-form'>
	  	<label for="old-password">Curr password</label>
		<input type="password" name="old-password" id="old-password"><br>

		<label for="password-new">New password</label>
		<input type="password" name="password" id="password"><br>

		<label for="password-new-confirm">Re-type password</label>
		<input type="password" name="password-confirmation" id="password-confirmation"><br><br>

		<button class="btn btn-small btn-primary" type="button" id="submit-password-update">Save Changes</button>
	</form>
	<div id='err-messages'></div>
</div>

</body>

<script type="text/javascript">

$('#submit-password-update').click( function() {sendPasswordUpdateRequest() }  );

function sendPasswordUpdateRequest() {
	var old_password = $('#old-password').val();
    var new_password = $('#password').val();
    var confirm_new_password = $('#password-confirmation').val();
    var update_password_dict = {prev_password:old_password, password:new_password, password_confirmation:confirm_new_password};
	post_json_request("/user/update_password", update_password_dict, function(data) { return handleUpdatePasswordResponse(data); });
	return false;
}

function post_json_request(page, dict, success) {
	$.ajax({
		type: 'POST',
		url: page,
		data: JSON.stringify(dict),
		contentType: "application/json",
		dataType: "json",
		success: success
	});
}


function handleUpdatePasswordResponse(data) {
	var error_code = data.errCode;
	var sections = data.sections;
	var error_msg = getErrorMessage(error_code);

	$('#err-message').empty();
	$('#err-message').append(error_msg);

 	return false;
}
function getErrorMessage(errCode) {
	switch (errCode) {
		case 104: 	return "Password Must Contain 6-32 Characters";
		case 107: 	return "E-mail Already Registered.";
		case 109: 	return "Password and Password Confirmation DO NOT match";
		case 1: 	return "";
		default: 	return "unknown error has occurred"
	}
}
	
</script>