
<head>
	<title>View Registrations</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
 	<style type="text/css">
 		body{colr:white;}
 		#password-box{ padding:100px; border-style:solid; width:500px; height:300px;}
 		form#update-password-form{border-style: solid; text-align:center; padding-bottom:25px;}
 		#err-messages{border-style: solid;}
	</style>
</head>

<body>
<h1>Update Password</h1>

<div id='password-box'>
	<form id='update-password-form'>
	  	<label for="password">Curr password</label>
		<input type="password" name="password" id="password"><br>

		<label for="password-new">New password</label>
		<input type="password" name="password-new" id="password-new"><br>

		<label for="password-new-confirm">Re-type password</label>
		<input type="password" name="password-new-confirm" id="password-new-confirm"><br><br>

		<button class="btn btn-small btn-primary" type="button" id="submit-password-update">Save Changes</button>
	</form>
	<div id='err-messages'></div>
</div>

</body>
<script type="text/javascript">
	
</script>