<div class="navbar navbar-inverse nav navbar-fixed-top">
    <div class="navbar-inner">
        <!-- <div class="container"> -->
            <a class="brand"  href="/" style="color:white; font-size:27px"> &nbsp &nbspRancho Rinconada</a>
              <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li id="WelcomeDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href='#update-password-Daniel' data-toggle="modal"><i class="icon-pencil"></i> Change Password</a></li>
                            <li class="divider"></li>
                            <li><a href="#" id="sm-logout-button"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
              </div>

              <div class="pull-right">
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li id="ChangeViewDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Change View <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" id="sections-view-button"><i class="icon-calendar"></i> View Sections</a></li>
                            <li><a href="#" id="users-view-button"><i class="icon-user"></i> View Users</a></li>
                        </ul>
                    </li>
                </ul>
             </ul>
            </div>
            <div id="CreateInstructorButton" class="pull-right">
                <ul class="nav">
                  <li class="divider-vertical"></li>
                  <li><a href='#create-instructor' data-toggle="modal"> Create an Instructor</a></li>
                </ul>
            </div>
        <!-- </div> -->
    </div>
</div>