<div style="width:570px;" id="editSectionModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button id="closeEditSection-modal" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 style="color:blue" id="myModalLabel">Edit Section</h3>
    </div>

    <div class="modal-body">
        <h4><p>- Section Information -</p></h4>
        <p style="color:gray" id="modal-section"> section</p><br>
        <h4><p>- Selected Date and Time -</p></h4>
        <p style="color:gray" id="modal-date">date and time</p><br>
        <h4><p>- Lesson Type Information -</p></h4>
        <p style="color:gray" id="modal-lesson">lesson</p>
    </div>

    <div class="modal-footer">
        <button id="editSectionModal-Cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button id="editSectionModal-Delete" class="btn btn-primary" >Delete</button>
    </div>
</div>