<div id="section-template">
	<a class="title" href="#"></a>
	<div class="section-info">
		<div class="section-left-column">
			Instructor: <br />
			Time: <br />
			Dates: <br />
			Enrollment: <br />
			Waitlist: <br />
		</div>
		<div class="section-right-column">
			<span class='instructor'></span><br />
			<span class='time'></span><br />
			<span class='date'></span><br />
			<span class='enrolled'></span><br />
			<span class='waitlisted'></span><br />
		</div>
		<br /><b>Description</b>
		<div class='description'>
		</div>
		<center><button class="btn btn-medium btn-primary" type="button"></button></center>
	</div>
</div>