<div class="span3" id='user-options'>
<div class="well sidebar-nav">

<ul class="nav nav-list" id="user-options">

<li><a id='view-details-trigger' href="#" data-toggle="tab">View Details</a></li>
<li><a id="view-enrolled-sections" href="#" data-toggle="tab">View Enrolled Sections</a></li>
<li><a id="update-user-trigger" href="#" data-toggle="tab">Edit Details</a></li>
<li><a id="update-password-trigger" href="#" data-toggle="tab">Change Password</a></li>
<li><a id='section-enroll-trigger' href='#' data-toggle="tab">Enroll in New Section</a></li>
<li><a id="update-user-notifications" href='#' data-toggle="tab">Notifications</a></li>

</ul>

</div> <!-- well -->
</div> <!-- span3 -->