.new-box {
	padding: 8px;
	background:#dddddd;
	border-width: 1px;
	width: 400px;
	height: 750px;
	border: 1px;
}

.submit_button {
	width: 50px;
	height: 25px;
	border: 2px;
	border-color: #000000;
}


