/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
/*$light-blue: #B9D3EE;
$honeydew: #E0EEE0;

.box{
	background-color: $light-blue;
	padding-top: 0.50em;
	padding-right: 0.50em;
	padding-left: 0.50em;
    width: 10.00em;
    height: 20.00em;
    font-size: 110%;
    border: thin black solid;
    color: #00F;
    float: right;
    text-align: right;
    float: center;
}
form {
	width: 24em;
	height: 10em;
	background-color: $light-blue;
	float: center;
	text-align: center;
	border: thin black solid
	input {
		font-size: 1em;
		
	}
}
form input {
	font-size: 1em;
}

*/