@import "bootstrap";


font20px{
	font-size: 20px;
	font-family: Georgia;
	color: back;
}

font17px {
	font-size: 17px;
	font-family: sans-serif;
	color: black;	
}

font17 {
	margin-left: 26px;
	font-size: 17px;
	font-family: sans-serif;
	color: back;	
}


body2{
	text-align: left;
	background-color: rgb(67,81,104);
}


.navbar {
  .navbar-inner {

    background-color: light black;
    background-image: none;
    color: white;
    
  }
}

position-fixed-center {
    position:fixed !important;
    top: 50%;
}

position-fixed-top {
    position:fixed !important;
    top: 50px;
}





