@import "bootstrap";

updatetitleStyle {
	background-color: rgb(67,81,104);
	padding: 3% 2% 3% 3%;
	font-size: 23.5px;
	font-family: sans-serif;
	color: white;
}

updateBottonStyle {
	font-size: 15px;
	font-family: arial;
	margin-left:20%;
}

updateProfileBox{
	padding: 15px 110px 420px 24px;
	border-color: #f5e110;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 12px 13px rgba(0,0,0,.5);
    -moz-box-shadow: 0 12px 13px rgba(0,0,0,.5);
    box-shadow: 0 12px 13px rgba(0,0,0,.5);

	font-size: 15px;
	font-family: verdana;
	color: back;
	
}


updatefont20px{
	font-size: 20px;
	font-family: Georgia;
	color: back;
}

updatefont16px {
	margin-left: 11%;
	font-size: 16px;
	font-family: sans-serif;
	color: back;	
}

updatefloatRight{
	float: right;
	width: auto;
	margin-right: 27px;

}

updatefloatRight2{
	margin-top: 40px;
	margin-right: 30px;
	float:right;
}


space{
	color: #f5f5f5;
}

body{
	background-color: rgb(101,136,169);
}

 .navbar123 {
  .navbar-inner {
    background-color: rgb(67,81,104);
    background-image: none;
    
  }
}










