// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-blue: #B9D3EE;
$dark-blue:  #0A4189;
td {
	padding-right: 6em;
	padding-left: 6em;
}
@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}


h1 {
	font-size: 3.000em;
	text-align: center;
	color: $dark-blue;
}


.box {
	color: $dark-blue;
	background-color: $light-blue;

	margin:50px 0px; padding:0px;
	text-align:center;
	font-family: LucidaConsole;
	
	width: 24.000em;
	margin:0px auto;
	
	@include rounded-corners(10px);
	border: thin black solid;
	height: 36.000em;
	vertical-align: middle;

	form {
		padding-top: 1.00em;
		vertical-align: middle;
		text-align: left;
		font-size: 1em;
		margin: 5px auto;
		width: 18.000em;
		height: 30.000em;

		input {
			position: inherit;
			text-align: left;
		}
	}
}

.field_with_errors * {
	font-size: 0.5em;
	font-size: 1em;
}

.error_messages {
	float: left;
}

ul li {
	text-align: left;
	float: center;
	list-style-type: none;

	font-size: 0.666em;
	font-family: strong;
	color: white; 
	text-shadow: black 0.1em 0.1em 0.2em;
}
#user_nav {
	top: 0;
	position:absolute;
	width: 100%;

	border: 1px solid;
	background-color: lighten($dark-blue, 12%);
	text-align: right;
	text-decoration: none;
	padding-right: 10px;
	padding-top: 0.250em;
	padding-bottom: 0.250em;
}

a {
	text-decoration: none;
	color: #FFF;
	&:hover { color: darken(white, 15%);}
}

#footer {
	position: absolute;
	bottom: 0em;
	text-align: center;
	padding-bottom: 1.00em;
	font-size: 80%;
   	width:100%;
}