utitleStyle {
	background-color: rgb(67,81,104);
	padding: 2% 72% 2% 2%;
	font-family: sans-serif;
	color: white;
}

ufooterStyle {
	background-color: rgb(67,81,104);
	padding: 1% 71% 1% 1%;
	font-family: sans-serif;
	color: white;
}

unewUserStyle {
	font-size: 15px;
	font-family: arial;
	margin-left:37%;
}

usignupBox{
	margin-left:-10%;
	padding: 15px 200px 460px 24px;
	border-color: #f5e110;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
	font-size: 19px;
	font-family: verdana;
	color: back;
	
}

uleftBox{
	padding: 15px 350px 410px 24px;
	border-color: #f5e110;
	border-width: 1px;
	border-style: solid;
	background-color: #f5f5f5;
	font-size: 20px;
	font-family: verdana;
	color: back;
	margin-left:13%;
	
}

ufont20px{
	font-size: 20px;
	font-family: Georgia;
	color: back;
}

ufont15px {
	margin-left: 0%;
	font-size: 15px;
	font-family: sans-serif;
	color: back;	
}

ufloatRight{
	float: right;
	width: 450px;
	margin: 0px;
}


ufloatLeft{
	float: left;
	margin-top:0px;
	width:400px;
	margin:0px;
}



ubody{
	background-color: rgb(101,136,169);
}

.errbox {
    width: 400px;
    height: 165px;
    border:  maroon solid;
    background-color: rgb(243,210,213);
    margin-top:100px;
    font-size: 17px;
    font-family: sans-serif;
    float:right;
}

.errmessage{
	padding:10px;
	margin: 35px 30px 20px 35px;
    border: thin white dotted;
    color: red;
}





