<!DOCTYPE html>
<html lang="en">
<head>
<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/assets/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/admin.js"></script>
<script type="text/javascript" src="/assets/jquery.loadJSON.js"></script>
<script type="text/javascript" src="/assets/date.js"></script>
<script type="text/javascript" src="/assets/jquery.datePicker.js"></script>
<script type="text/javascript" src="/assets/messages.js"></script>
        
<link rel="stylesheet" type="text/css" media="screen" href="/assets/datePicker.css">
<link rel="stylesheet" type="text/css" href="/assets/admin.css">
</head>

<center>
<h1>Administrator's Page</h1>
</center>

<center>
<div id="main-page">
    <div class="row-fluid">
        <h1> Sections </h1>
    </div>
    <div class="row-fluid">
        <div class="btn-group">
            <button class="btn" id="new-button">Add Section</button>
            <button class="btn" id="export-button">Export to CSV</button>
            <button class="btn" id="logout-button">Logout</button>
        </div>
    </div>
</div>
</center>

<center>
<!--div class="container-fluid"-->
    <div class="row-fluid">
        <div class="span1">
        </div>
        <div class="span10">
            <table id="section-table" class='table'>
            </table>
        </div>
        <div class="span1">
        </div>
    </div>
<!--/div-->
</center>

<center>
<div id="new-form" class="new-box">
    <h1>Create Section</h1>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="addname">Name</label>
            <div class="controls">
                <input type="text" name="add-name" id="add-name" placeholder="Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addstartdate">Start Date</label>
            <div class="controls">
                <input type="text" name="add-start-date" id="add-start-date" class="date-pick">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addenddate">End Date</label>
            <div class="controls">
                <input type="text" name="add-end-date" id="add-end-date" class="date-pick">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addday">Day</label>
            <div class="controls">
                <select type="text" name="add-day" id="add-day">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="WEDNESDAY">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addstarttime">Start Time</label>
            <div class="controls">
                <select type="time" name="add-start-time" id="add-start-time">
                    <option value="8:00AM">8:00AM</option>
                    <option value="9:00AM">9:00AM</option>
                    <option value="10:00AM">10:00AM</option>
                    <option value="11:00AM">11:00AM</option>
                    <option value="12:00PM">12:00PM</option>
                    <option value="1:00PM">1:00PM</option>
                    <option value="2:00PM">2:00PM</option>
                    <option value="3:00PM">3:00PM</option>
                    <option value="4:00PM">4:00PM</option>
                    <option value="5:00PM">5:00PM</option>
                    <option value="6:00PM">6:00PM</option>
                    <option value="7:00PM">7:00PM</option>
                    <option value="8:00PM">8:00PM</option>
                    <option value="9:00PM">9:00PM</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addendtime">End Time</label>
            <div class="controls">
                <select type="time" name="add-end-time" id="add-end-time">
                    <option value="8:00AM">8:00AM</option>
                    <option value="9:00AM">9:00AM</option>
                    <option value="10:00AM">10:00AM</option>
                    <option value="11:00AM">11:00AM</option>
                    <option value="12:00PM">12:00PM</option>
                    <option value="1:00PM">1:00PM</option>
                    <option value="2:00PM">2:00PM</option>
                    <option value="3:00PM">3:00PM</option>
                    <option value="4:00PM">4:00PM</option>
                    <option value="5:00PM">5:00PM</option>
                    <option value="6:00PM">6:00PM</option>
                    <option value="7:00PM">7:00PM</option>
                    <option value="8:00PM">8:00PM</option>
                    <option value="9:00PM">9:00PM</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addteacher">Teacher</label>
            <div class="controls">
                <input type="text" name="add-teacher" id="add-teacher" placeholder="Teacher">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addmaxenroll">Class capacity</label>
            <div class="controls">
                <input type="integer" name="add-max-enroll" id="add-max-enroll">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addmaxwaitlist">Waitlist capacity</label>
            <div class="controls">
                <input type="integer" name="add-max-waitlist" id="add-max-waitlist">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="adddescription">Description</label>
            <div class="controls">
                <textarea rows="3" name="add-description" id="add-description"></textarea>
            </div>
        </div>
    </form>
    <div id="add_submit-button" class="submit_button" type="submit">
        <button>Submit</button>
    </div>
</div>

<div id="edit-form" class="new-box">
    <h1>Edit Section</h1>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="addname">Name</label>
            <div class="controls">
                <input type="text" name="name" id="name" placeholder="Name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addstartdate">Start Date</label>
            <div class="controls">
                <input type="text" name="start_date" id="start_date" class="date-pick">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addenddate">End Date</label>
            <div class="controls">
                <input type="text" name="end_date" id="end_date" class="date-pick">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addday">Day</label>
            <div class="controls">
                <select type="text" name="day" id="day">
                    <option value="Sunday">Sunday</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addstarttime">Start Time</label>
            <div class="controls">
                <select type="time" name="start_time" id="start_time">
                    <option value="8:00AM">8:00AM</option>
                    <option value="9:00AM">9:00AM</option>
                    <option value="10:00AM">10:00AM</option>
                    <option value="11:00AM">11:00AM</option>
                    <option value="12:00PM">12:00PM</option>
                    <option value="1:00PM">1:00PM</option>
                    <option value="2:00PM">2:00PM</option>
                    <option value="3:00PM">3:00PM</option>
                    <option value="4:00PM">4:00PM</option>
                    <option value="5:00PM">5:00PM</option>
                    <option value="6:00PM">6:00PM</option>
                    <option value="7:00PM">7:00PM</option>
                    <option value="8:00PM">8:00PM</option>
                    <option value="9:00PM">9:00PM</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addendtime">End Time</label>
            <div class="controls">
                <select type="time" name="end_time" id="end_time">
                    <option value="8:00AM">8:00AM</option>
                    <option value="9:00AM">9:00AM</option>
                    <option value="10:00AM">10:00AM</option>
                    <option value="11:00AM">11:00AM</option>
                    <option value="12:00PM">12:00PM</option>
                    <option value="1:00PM">1:00PM</option>
                    <option value="2:00PM">2:00PM</option>
                    <option value="3:00PM">3:00PM</option>
                    <option value="4:00PM">4:00PM</option>
                    <option value="5:00PM">5:00PM</option>
                    <option value="6:00PM">6:00PM</option>
                    <option value="7:00PM">7:00PM</option>
                    <option value="8:00PM">8:00PM</option>
                    <option value="9:00PM">9:00PM</option>
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addteacher">Teacher</label>
            <div class="controls">
                <input type="text" name="teacher" id="teacher" placeholder="Teacher">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addmaxenroll">Class capacity</label>
            <div class="controls">
                <input type="integer" name="enroll_max" id="enroll_max">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="addmaxwaitlist">Waitlist capacity</label>
            <div class="controls">
                <input type="integer" name="waitlist_max" id="waitlist_max">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="adddescription">Description</label>
            <div class="controls">
                <textarea rows="3" name="description" id="description"></textarea>
            </div>
        </div>
    </form>
    <div id="edit_submit-button" class="submit_button" type="submit">
        <button>Submit</button>
    </div>
</div>
</center>
<br />

<script type="text/javascript">

$('#main-page').hide();
$('#new-form').hide();

/* setup the page so that only one of the forms is shown */
$(document).ready(function() {
    init_data();
   show_login_page();
 });

$('#new-button').click(function() {
    toggle_new_form();
})

$('#logout-button').click(function() {
    window.location.href = '/';
})

$('#export-button').click(function() {
    window.location.href = "/Users/csv";
});

$('#add_submit-button').click(function() {
    name = $('#add-name').val()
    start_date = $('#add-start-date').val()
    end_date = $('#add-end-date').val()
    day = $('#add-day').val()
    start_time = $('#add-start-time').val()
    end_time = $('#add-end-time').val()
    teacher = $('#add-teacher').val()
    enroll_max = $('#add-max-enroll').val()
    waitlist_max = $('#add-max-waitlist').val()
    description = $('#add-description').val()

    post_json_request("/Admin/createSection", { name: name, start_date: start_date, end_date: end_date, day: day, start_time: start_time, end_time: end_time, teacher: teacher, enroll_cur: 0, enroll_max: enroll_max, waitlist_cur: 0, waitlist_max: waitlist_max, description: description }, function(data) { return handle_add_response(data); });
});

$('#edit_submit-button').click(function() {
    name = $('#name').val()
    start_date = $('#start_date').val()
    end_date = $('#end_date').val()
    day = $('#day').val()
    start_time = $('#start_time').val()
    end_time = $('#end_time').val()
    teacher = $('#teacher').val()
    enroll_max = $('#enroll_max').val()
    waitlist_max = $('#waitlist_max').val()
    description = $('#description').val()

    post_json_request("/Admin/editSection", { name: name, start_date: start_date, end_date: end_date, day: day, start_time: start_time, end_time: end_time, teacher: teacher, enroll_cur: 0, enroll_max: enroll_max, waitlist_cur: 0, waitlist_max: waitlist_max, description: description }, function(data) { return handle_add_response(data); });
});

//Date.firstDayOfWeek = 0;
//Date.format = 'mm/dd/yyyy';
$(function()
{
    $('.date-pick').datePicker();
});

$.fn.clearForm = function() {
  return this.each(function() {
    var type = this.type, tag = this.tagName.toLowerCase();
    if (tag == 'form')
      return $(':input',this).clearForm();
    if (type == 'text' || type == 'password' || tag == 'textarea')
      this.value = '';
    else if (type == 'checkbox' || type == 'radio')
      this.checked = false;
    else if (tag == 'select')
      this.selectedIndex = -1;
  });
};

</script>
</html>