<!DOCTYPE html>
<html lang="en">
    <head>
        <script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
        <script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/assets/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/assets/admin.js"></script>
        <script type="text/javascript" src="/assets/jquery.loadJSON.js"></script>
        <script type="text/javascript" src="/assets/date.js"></script>
        <script type="text/javascript" src="/assets/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="/assets/messages.js"></script>
        <script src='assets/jquery/jquery-ui-1.10.2.custom.min.js'></script>
        
        <link rel="stylesheet" type="text/css" href="/assets/datepicker.css">
        <link rel="stylesheet" type="text/css" href="/assets/admin.css">
        <style>

            body {
                background-color: rgb(1,136,169);
                margin-top: -10px;
                text-align: center;
                font-size: 14px;
                font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
                }

            .datePicker{z-index:1151;}
        </style>
    </head>
    <body><div class="container" style="width:1265px">

        <body2>
            <div class="navbar navbar-inverse nav navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container" style="width:1265px">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand"  href="/" style="color:white; font-size:27px"> &nbsp &nbspRancho Rinconada</a>
                          <div class="pull-right">
                            <ul class="nav pull-right">
                                <li class="divider-vertical"></li>
                            
                                <li id="WelcomeDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, Admin <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#"><i class="icon-pencil"></i> Change Password</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/"><i class="icon-off"></i> Logout</a></li>
                                    </ul>
                                </li>



                            </ul>
                          </div>
                    </div>
                </div>
            </div>

        </body2>
        <center>
        <h1>Administrator's Page</h1>
        </center>

        <div class="container-fluid"><body2>

            <div class="row-fluid">


                <div class="span12">
                    <center>
                    <div class="btn-group">
                        <button class="btn" id="show-section">Show Sections</button>
                        <button class="btn" id="show-users">Show Users</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn" id="export-users-button">Export Users</button>
                        <button class="btn" id="export-sections-button">Export Sections</button>
                    </div>
                    <div class="btn-group">
                        <a href="#new-form3" role="button" class="btn" data-toggle="modal">Create Section</a>
                        <button class="btn" id="logout-button">Logout</button>
                    </div>

                    <div id="sec-table"><table id="section-table" class='table'></table></div>
                </center>
                </div>
            </div>
        </body2></div>
        <div class="navbar navbar-fixed-bottom navbar-inverse">
                <div class="navbar-inner">
                    <div class="container" style="width:1265px">
                        <div id="copyRights" class="pull-left">
                            <ul class="nav">
                              <li><a style="color:gray; font-size:15px">© 2012 Copyright Rancho Rinconada Rec Center</a></li>
                            </ul>
                        </div>

                        <div id="bringToTop" class="pull-right">
                            <ul class="nav">
                              <li><a href="#">Bring To Top</a></li>
                            </ul>
                         </div>
                    </div>
                </div>
        </div>
    </div>
    

    <div id="new-form3" class="modal hide fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="myModalLabel">Create Section</h3>
        </div>
        <div class="modal-body">

            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="addname">Name</label>
                    <div class="controls">
                        <input type="text" name="add-name" id="add-name" placeholder="Name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addstartdate">Start Date</label>
                    <div class="controls">
                        <input type="text" name="add-start-date" id="add-start-date" class="datepicker" placeholder="click here">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addenddate">End Date</label>
                    <div class="controls">
                        <input type="text" name="add-end-date" id="add-end-date" class="datepicker" placeholder="click here">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addday">Day</label>
                    <div class="controls">
                        <select type="text" name="add-day" id="add-day">
                            <option value="Sunday">Sunday</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="WEDNESDAY">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addstarttime">Start Time</label>
                    <div class="controls">
                        <select type="time" name="add-start-time" id="add-start-time">
                            <option value="8:00AM">8:00AM</option>
                            <option value="9:00AM">9:00AM</option>
                            <option value="10:00AM">10:00AM</option>
                            <option value="11:00AM">11:00AM</option>
                            <option value="12:00PM">12:00PM</option>
                            <option value="1:00PM">1:00PM</option>
                            <option value="2:00PM">2:00PM</option>
                            <option value="3:00PM">3:00PM</option>
                            <option value="4:00PM">4:00PM</option>
                            <option value="5:00PM">5:00PM</option>
                            <option value="6:00PM">6:00PM</option>
                            <option value="7:00PM">7:00PM</option>
                            <option value="8:00PM">8:00PM</option>
                            <option value="9:00PM">9:00PM</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addendtime">End Time</label>
                    <div class="controls">
                        <select type="time" name="add-end-time" id="add-end-time">
                            <option value="8:00AM">8:00AM</option>
                            <option value="9:00AM">9:00AM</option>
                            <option value="10:00AM">10:00AM</option>
                            <option value="11:00AM">11:00AM</option>
                            <option value="12:00PM">12:00PM</option>
                            <option value="1:00PM">1:00PM</option>
                            <option value="2:00PM">2:00PM</option>
                            <option value="3:00PM">3:00PM</option>
                            <option value="4:00PM">4:00PM</option>
                            <option value="5:00PM">5:00PM</option>
                            <option value="6:00PM">6:00PM</option>
                            <option value="7:00PM">7:00PM</option>
                            <option value="8:00PM">8:00PM</option>
                            <option value="9:00PM">9:00PM</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addteacher">Teacher</label>
                    <div class="controls">
                        <input type="text" name="add-teacher" id="add-teacher" placeholder="Teacher">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addmaxenroll">Class capacity</label>
                    <div class="controls">
                        <input type="integer" name="add-max-enroll" id="add-max-enroll">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addmaxwaitlist">Waitlist capacity</label>
                    <div class="controls">
                        <input type="integer" name="add-max-waitlist" id="add-max-waitlist">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="adddescription">Description</label>
                    <div class="controls">
                        <textarea rows="3" name="add-description" id="add-description"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addsectiontype">Section Type</label>
                    <div class="controls">
                        <select type="text" name="add-section-type" id="add-section-type">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="addlessontype">Lesson Type</label>
                    <div class="controls">
                        <select type="text" name="add-lesson-type" id="add-lesson-type">
                            <option value="PRIVATE">Private</option>
                            <option value="PRE-COMP">Pre-Comp</option>
                            <option value="GROUP">Group</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" id="add_submit-button">Save</button>
        </div>
    </div>

</body>


<script type="text/javascript">

$('#main-page').hide();
$('#new-form').hide();
$('#edit-form').hide();

/* setup the page so that only one of the forms is shown */
$(document).ready(function() {
    init_data();
   show_login_page();
 });

// $('#new-button').click(function() {
//     toggle_new_form();
// })

$('#show-section').click(function() {
    $('#sec-table').show();
})

$('#show-users').click(function() {
    alert("Not implemented yet");
})

$('#logout-button').click(function() {
    window.location.href = '/';
})

$('#export-users-button').click(function() {
    //window.location.href = "/Admin/exportUsers";
    alert("Not implemented yet");
});

$('#export-sections-button').click(function() {
    //window.location.href = "/Admin/exportSections";
    alert("Not implemented yet");
});

$(function() {
    $("button#add_submit-button").click(function() {
        name = $('#add-name').val()
        start_date = new Date($('#add-start-date').val())
        end_date = new Date($('#add-end-date').val())
        day = $('#add-day').val()
        start_time = $('#add-start-time').val()
        end_time = $('#add-end-time').val()
        teacher = $('#add-teacher').val()
        enroll_max = $('#add-max-enroll').val()
        waitlist_max = $('#add-max-waitlist').val()
        description = $('#add-description').val()
        section_type = $('#add-section-type').val()
        lesson_type = $('#add-lesson-type').val()

        post_json_request("/Sections/create", { name: name, start_date: start_date, end_date: end_date, day: day, start_time: start_time, end_time: end_time, teacher: teacher, enroll_cur: 0, enroll_max: enroll_max, waitlist_cur: 0, waitlist_max: waitlist_max, description: description, section_type: section_type, lesson_type: lesson_type }, function(data) { return handle_add_response(data); });
    });
});

$('#add_submit-button').on('click', function(e) {
    e.preventDefault();
    name = $('#add-name').val()
    start_date = $('#add-start-date').val()
    end_date = $('#add-end-date').val()
    day = $('#add-day').val()
    start_time = $('#add-start-time').val()
    end_time = $('#add-end-time').val()
    teacher = $('#add-teacher').val()
    enroll_max = $('#add-max-enroll').val()
    waitlist_max = $('#add-max-waitlist').val()
    description = $('#add-description').val()
    section_type = $('#add-section-type').val()
    lesson_type = $('#add-lesson-type').val()

    post_json_request("/Sections/create", { name: name, start_date: start_date, end_date: end_date, day: day, start_time: start_time, end_time: end_time, teacher: teacher, enroll_cur: 0, enroll_max: enroll_max, waitlist_cur: 0, waitlist_max: waitlist_max, description: description, section_type: section_type, lesson_type: lesson_type }, function(data) { return handle_add_response(data); });
});

$('#edit_submit-button').click(function() {
    name = $('#name').val()
    start_date = $('#start_date').val()
    end_date = $('#end_date').val()
    day = $('#day').val()
    start_time = $('#start_time').val()
    end_time = $('#end_time').val()
    teacher = $('#teacher').val()
    enroll_max = $('#enroll_max').val()
    waitlist_max = $('#waitlist_max').val()
    description = $('#description').val()
    section_type = $('#add-section-type').val()
    lesson_type = $('#add-lesson-type').val()

    post_json_request("/Sections/edit", { name: name, start_date: start_date, end_date: end_date, day: day, start_time: start_time, end_time: end_time, teacher: teacher, enroll_cur: 0, enroll_max: enroll_max, waitlist_cur: 0, waitlist_max: waitlist_max, description: description, section_type: section_type, lesson_type: lesson_type }, function(data) { return handle_add_response(data); });
});

//Date.firstDayOfWeek = 0;
//Date.format = 'mm/dd/yyyy';
// $(function()
// {
//     $('#date-pick').datePicker({
//         beforeShow: function() { $('#date-pick').css("z-index", 1051);}
//     });
// });

$('.datepicker').datepicker({
});

$.fn.clearForm = function() {
  return this.each(function() {
    var type = this.type, tag = this.tagName.toLowerCase();
    if (tag == 'form')
      return $(':input',this).clearForm();
    if (type == 'text' || type == 'password' || tag == 'textarea')
      this.value = '';
    else if (type == 'checkbox' || type == 'radio')
      this.checked = false;
    else if (tag == 'select')
      this.selectedIndex = -1;
  });
};

</script>
</html>