<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="utf-8">
		<title>Rancho Rinconada Online Booking </title>
		<!-- <link type="text/css" rel="stylesheet" href="assets/homepage.css.scss"> -->

		<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type='text/javascript' src='/assets/jquery-1.9.1.js'></script>
		<script type="text/javascript" src="/assets/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/assets/jquery-ui.min.js"></script>

		<!-- <link href='/assets/fullcalendar/fullcalendar.css' rel='stylesheet' /> -->
		<!-- <link href='/assets/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' /> -->
		<script src='assets/jquery/jquery-1.9.1.min.js'></script>
		<script src='assets/jquery/jquery-ui-1.10.2.custom.min.js'></script>
		<script src='assets/fullcalendar/fullcalendar.min.js'></script>

		<script>

	$(document).ready(function() {
	
	
		/* initialize the external events
		-----------------------------------------------------------------*/
	
		$('#external-events div.external-event').each(function() {
		
			// create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
			// it doesn't need to have a start or end
			var eventObject = {
				title: $.trim($(this).text()) // use the element's text as the event title
			};
			
			// store the Event Object in the DOM element so we can get to it later
			$(this).data('eventObject', eventObject);
			
			// make the event draggable using jQuery UI
			$(this).draggable({
				zIndex: 999,
				revert: true,      // will cause the event to go back to its
				revertDuration: 0  //  original position after the drag
			});
			
		});
	
	
		/* initialize the calendar
		-----------------------------------------------------------------*/
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			editable: true,
			droppable: true, // this allows things to be dropped onto the calendar !!!
			drop: function(date, allDay) { // this function is called when something is dropped
			
				// retrieve the dropped element's stored Event Object
				var originalEventObject = $(this).data('eventObject');
				
				// we need to copy it, so that multiple events don't have a reference to the same object
				var copiedEventObject = $.extend({}, originalEventObject);
				
				// assign it the date that was reported
				copiedEventObject.start = date;
				copiedEventObject.allDay = allDay;
				
				// render the event on the calendar
				// the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)

				var bignuts = prompt("Enter true or false");

				if (bignuts == "true") {
					$('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
				}

				
				
				// is the "remove after drop" checkbox checked?
				if ($('#drop-remove').is(':checked')) {
					// if so, remove the element from the "Draggable Events" list
					$(this).remove();
				}
				
			}
		});
		
		
	});

</script>

		<style>

			body {
				background-color: rgb(1,136,169);
				margin-top: -10px;
				text-align: center;
				font-size: 14px;
				font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
				}

			#external-events {
				float: left;
				width: 225px;
				padding: 0 10px;
				border: 1px solid #ccc;
				//background: #eee;
				text-align: left;
				}
				
			#external-events h4 {
				font-size: 16px;
				margin-top: 0;
				padding-top: 1em;
				}
				
			.external-event { /* try to mimick the look of a real event */
				margin: 10px 0;
				padding: 2px 4px;
				background: #3366CC;
				color: #fff;
				font-size: .85em;
				cursor: pointer;
				}
				
			#external-events p {
				margin: 1.5em 0;
				font-size: 11px;
				color: #666;
				}
				
			#external-events p input {
				margin: 0;
				vertical-align: middle;
				}

			#calendar {
				width: 886px;
				margin: 0 auto;
				margin-top: -7px;
				background-color: white;
				border:  white thin solid;
				}

		</style>
		

	</head>

	<body><div class="container" style="width:1265px">

		<body2>
			<div class="navbar navbar-inverse nav navbar-fixed-top">
			    <div class="navbar-inner">
			    	<div class="container" style="width:1265px">
			            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			                <span class="icon-bar"></span>
			            </a>
			            <a class="brand"  href="/" style="color:white; font-size:27px"> &nbsp &nbspRancho Rinconada</a>
			              <div class="pull-right">
			                <ul class="nav pull-right">
			                	<li class="divider-vertical"></li>
			                
			                    <li id="WelcomeDropDown" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, Admin <b class="caret"></b></a>
			                        <ul class="dropdown-menu">
			                            <li><a href="/"><i class="icon-pencil"></i> Change Password</a></li>
			                            <li class="divider"></li>
			                            <li><a href="/"><i class="icon-off"></i> Logout</a></li>
			                        </ul>
			                    </li>



			                </ul>
			              </div>
			        </div>
			    </div>
			</div>

		</body2>

		<div class="container-fluid"><body2>

			<div class="row-fluid">

				<div class="span3">

					<position-fixed-top>
						<div class="span9">


							<div id='external-events' class="alert alert-info">
								<h4>Instructors</h4>
								<div class='external-event'>Instructor 1</div>
								<div class='external-event'>Instructor 2</div>
								<div class='external-event'>Instructor 3</div>
								<div class='external-event'>Instructor 4</div>
								<div class='external-event'>Instructor 5</div>
								
								</div>
						</div>
					</position-fix-top>
				</div>
			

				<div class="span9">

					<div id="DateSelection" class="alert alert-info">

			  			<h3>Select Date: </h3><br>
			  			<div id="calendar"></div><br>

			  			<div style='clear:both'></div>
			  			
					</div>

				</div>

			</div>
		</body2></div>

		<div class="navbar navbar-fixed-bottom navbar-inverse">
				<div class="navbar-inner">
					<div class="container" style="width:1265px">
			        	<div id="copyRights" class="pull-left">
			              	<ul class="nav">
			                  <li><a style="color:gray; font-size:15px">© 2012 Copyright Rancho Rinconada Rec Center</a></li>
			              	</ul>
			        	</div>

			        	<div id="bringToTop" class="pull-right">
			              	<ul class="nav">
			                  <li><a href="#">Bring To Top</a></li>
			              	</ul>
			             </div>
			    	</div>
			    </div>
	  	</div>
  	</div><body>

		
		<script type="text/javascript">

			$('#top').hide()
   			$('#rightColumn').hide()
   			$('#leftColumn').hide()
   			$('#system-message').hide()
   			$('#bottom').hide()
   			$('#login-email').val("")
			$('#login-password').val("")
			$('#WelcomeDropDown').hide()
			$('ProgressBar').hide()
   
   			/* setup the page so that only one of the forms is shown */
			
			$(document).ready(function() {
			 	show_admin_page()
			 });

			function show_admin_page() {
				$('#top').show()
	   			$('#rightColumn').show()
	   			$('#leftColumn').show()
	   			$('#bottom').show()
	   			$('#WelcomeDropDown').show()
	   		}

			function json_request(page, dict, success, failure) {
		    $.ajax({
		        type: 'POST',
		        url: page,
		        data: JSON.stringify(dict),
		        contentType: "application/json",
		        dataType: "json",
		        success: success,
		        failure: failure
		    });
}

		</script>
		
</html>